<div class="flex h-24 w-full items-center bg-secondary px-10">
  <nav class="flex items-center gap-4 font-poppins text-base">
    <a href="#" class="text-(--color-gray)">Home</a>
    <svg
      width="1.25rem"
      height="1.25rem"
      viewBox="0 0 20 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M6 15L11 10L6 5L7 3L14 10L7 17L6 15Z" fill="black" />
    </svg>
    <a href="#" class="text-">Shop</a>
    <svg
      width="1.25rem"
      height="1.25rem"
      viewBox="0 0 20 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M6 15L11 10L6 5L7 3L14 10L7 17L6 15Z" fill="black" />
    </svg>
    <div class="h-[2.3125rem] w-[0.125rem] bg-(--color-gray)"></div>
    <span class="text-black">Asgaard sofa</span>
  </nav>
</div>
