.confirming-payment {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: max-content;
  }
  
  .confirming-payment h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #333;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f3f3f3;
    border-radius: 5px;
  }
  
  .total {
    color: #b88e2f;
    font-weight: bold;
  }
  
  .payment-method p {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.452);
  }
  
  .payment-method label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.76);
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  
  .policy {
    font-weight: bold;
  }
  
  button {
    margin: 0 auto;
    display: block;
    width: 200px;
    padding: 12px;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    border: 1px solid #333;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #333;
    color: white;
  }
  