<app-header-banner bannerTitle="Contact"></app-header-banner>

<div class="text-center my-10 px-4 pt-15">
  <h1 class="text-4xl font-semibold">Get in touch with us</h1>
  <p class="text-base text-gray-dark mt-6 max-w-2xl mx-auto">
    For More Information About Our Product & Services. Please Feel Free To Drop
    Us An Email. Our Staff Are Always here To Help You Out. Do Not Hesitate!
  </p>
</div>

<div
  class="flex flex-col md:flex-row justify-center items-start gap-10 px-4 pb-15"
>
  <div class="p-1 max-w-md">
    <div class="flex items-center gap-3 mb-3">
      <i class="fas fa-map-marker-alt text-xl text-black"></i>
      <p class="text-xl font-semibold text-black">Address</p>
    </div>
    <p class="text-base text-black pl-8 mb-10">
      236 5th SE Avenue, New York NY10000, United States
    </p>

    <div class="flex items-center gap-3 mt-4 mb-3">
      <i class="fas fa-phone text-xl text-black"></i>
      <p class="text-xl font-semibold text-black">Phone</p>
    </div>
    <p class="text-base text-black pl-8">Mobile: +(84) 546-6789</p>
    <p class="text-base text-black pl-8 mb-10">Hotline: +(84) 456-6789</p>

    <div class="flex items-center gap-3 mt-4 mb-3">
      <i class="fas fa-clock text-xl text-black"></i>
      <p class="text-xl font-semibold text-black">Working Hours</p>
    </div>
    <p class="text-sm text-black pl-8">Mon - Fri: 9:00 AM - 10:00 PM</p>
    <p class="text-sm text-black pl-8">Sat - Sun: 10:00 AM - 9:00 PM</p>
  </div>

  <div class="max-w-md w-full rounded-lg p-1 bg-white">
    <form
      [formGroup]="contactForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col space-y-4"
    >
      <label for="name" class="text-base font-medium">Your Name</label>
      <input
        id="name"
        formControlName="name"
        type="text"
        class="border-2 border-gray px-4 py-2 rounded-md w-full h-13"
        placeholder="Enter Your Name"
      />
      <p
        *ngIf="
          contactForm.get('name')?.invalid && contactForm.get('name')?.touched
        "
        class="text-red-light text-sm"
      >
        Name is required.
      </p>

      <label for="email" class="text-base font-medium">Your Email</label>
      <input
        id="email"
        formControlName="email"
        type="email"
        class="border-2 border-gray px-4 py-2 rounded-md w-full h-13"
        placeholder="Enter Your Email"
      />
      <p
        *ngIf="
          contactForm.get('email')?.invalid && contactForm.get('email')?.touched
        "
        class="text-red-light text-sm"
      >
        Valid email is required.
      </p>

      <label for="subject" class="text-base font-medium">Subjet</label>
      <input
        id="subject"
        formControlName="subject"
        type="text"
        class="border-2 border-gray px-4 py-2 rounded-md w-full h-13"
        placeholder="This is an Optional"
      />

      <label for="message" class="text-base font-medium">Your Message</label>
      <textarea
        id="message"
        formControlName="message"
        class="border-2 border-gray px-4 py-2 rounded-md w-full h-28"
        placeholder="Write Your Message"
      ></textarea>
      <p
        *ngIf="
          contactForm.get('message')?.invalid &&
          contactForm.get('message')?.touched
        "
        class="text-red-light text-sm"
      >
        Message cannot be empty.
      </p>

      <app-button type="primary-fill">Submit</app-button>
    </form>
    <p
      *ngIf="message"
      [ngClass]="{ 'text-green-500': isSuccess, 'text-red-light': !isSuccess }"
      class="mt-4 text-sm"
    >
      {{ message }}
    </p>
  </div>
</div>

<app-feature-banner></app-feature-banner>
