button {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  text-transform: capitalize;
  text-align: center;
  border-radius: 10px;
}
button.black-outline {
  border: 1px solid black;
  color: black;
  background-color: white;
}
button.primary-fill {
  border: 1px solid transparent;
  background-color: var(--color-primary);
  color: white;
}
button.primary-fill:hover {
  filter: brightness(105%);
  -webkit-filter: brightness(105%);
}

button.secondary-fill {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}
button.secondary-fill:hover {
  background-color: var(--color-primary);
  color: white;
  border: 1px solid var(--color-primary);
}
button.plainBtn {
  background-color: white;
  color: var(--color-primary);
}
button.primary-outline {
  background-color: white;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

button.primary-outline:hover {
  background-color: var(--color-primary);
  color: white;
  border: 1px solid var(--color-primary);
}
button.black-outline:hover {
  color: white;
  background-color: black;
}

button.semi-black-outline {
  color: rgb(0, 0, 0);
  border: 1px solid var(--color-gray-dark);
}
button.semi-black-outline:hover {
  color: white;
  background-color: var(--color-gray-dark);
}
