<ul class="flex gap-[15px] py-[15px] w-full justify-center">
  <li class="relative h-[20px]">
    <button class="cursor-pointer" (click)="toggleFavModal(true)">
      <img src="icons/heart.svg" alt="" srcset="" class="w-[20px]" />
    </button>
    @if(favorites.length){
    <div
      class="absolute top-0 right-0 bg-primary text-white w-[20px] h-[20px] rounded-[50px] text-xs flex justify-center items-center translate-x-[50%] translate-y-[-50%]"
    >
      @if(favoritesLength<10){
      {{ favoritesLength }}
      } @else{ 9+ }
    </div>
    }
  </li>
  <li class="relative h-[20px]">
    <button class="cursor-pointer" (click)="toggleCartModal(true)">
      <img src="icons/shopping-cart.svg" alt="" srcset="" class="w-[20px]" />
    </button>
    @if(cart.length){
    <div
      class="absolute top-0 right-0 bg-primary text-white w-[20px] h-[20px] rounded-[50px] text-xs flex justify-center items-center translate-x-[50%] translate-y-[-50%]"
    >
      @if(cartLength<10){
      {{ cartLength }}
      } @else{ 9+ }
    </div>
    }
  </li>

  <li>
    <a routerLink="{{ isLoggedIn ? ['/profile'] : '/register' }}">
      <img
        src="{{ isLoggedIn ? 'images/user.png' : 'icons/account-alert.svg' }}"
        alt=""
        srcset=""
        class="w-[20px]"
      />
    </a>
  </li>
</ul>

<!-- Favorites Modal -->
@if (this.favModalShow) {
<div
  class="fixed top-0 right-0 w-full h-full bg-black-transparent z-[999]"
  (click)="toggleFavModal(false)"
></div>
<div
  class="fixed top-0 right-0 h-full w-full max-w-[420px] bg-gray-light p-[25px] flex flex-col gap-[25px] z-[1000]"
  [@slideInOut]="favModalShow ? 'in' : 'out'"
>
  <div class="flex justify-between">
    <h3 class="text-2xl font-semibold">Favorites</h3>
    <div class="cursor-pointer" (click)="toggleFavModal(false)">
      <img src="icons/close.svg" alt="Close" />
    </div>
  </div>
  <div class="border-y border-gray flex-1 flex flex-col gap-[25px] py-[25px]">
    @if (favorites.length) { @for (item of favorites; track item.id) {
    <div
      class="flex items-center shadow-sm px-2 rounded hover:shadow-xl duration-300 ease"
    >
      <div
        class="flex flex-1 gap-3 items-center cursor-pointer"
        [routerLink]="['/product', item.id]"
      >
        <img
          src="{{ item.img }}"
          alt="{{ item.title }}"
          class="w-[80px] rounded-[10px]"
        />
        <h3 class="text-base cursor-pointer flex-1">
          {{ item.title }}
        </h3>
      </div>
      <div class="cursor-pointer" (click)="deleteFavorite(item.id)">
        <img src="icons/close-filled.svg" alt="Remove" />
      </div>
    </div>
    } } @else {
    <p class="text-center text-gray text-xl m-auto">
      You don't have any favorites!
    </p>
    }
  </div>
  <div class="flex justify-between">
    <a
      routerLink="/favorites"
      (click)="toggleFavModal(false)"
      class="border py-[5px] px-[30px] text-xs rounded-[50px]"
    >
      See more
    </a>
  </div>
</div>
}

<!-- Shopping Cart Modal -->
@if (this.cartModalShow) {
<div
  class="fixed top-0 right-0 w-full h-full bg-black-transparent z-[999]"
  (click)="toggleCartModal(false)"
></div>
<div
  class="fixed top-0 right-0 h-full w-full max-w-[420px] bg-gray-light p-[25px] flex flex-col gap-[25px] z-[1000]"
  [@slideInOut]="cartModalShow ? 'in' : 'out'"
>
  <div class="flex justify-between items-center">
    <h3 class="text-2xl font-semibold">Shopping Cart</h3>
    <div class="cursor-pointer" (click)="toggleCartModal(false)">
      <img src="icons/close.svg" alt="Close" />
    </div>
  </div>
  <div
    class="border-y border-gray flex-1 flex flex-col gap-[25px] py-[25px] justify-between"
  >
    <div class="flex flex-col gap-[25px] flex-1">
      @if (cart.length) { @for (item of cart; track item.id) {
      <div
        class="flex items-center shadow-sm px-2 rounded hover:shadow-xl duration-300 ease"
      >
        <div
          class="flex flex-1 gap-3 items-center cursor-pointer"
          [routerLink]="['/product', item.id]"
        >
          <img
            src="{{ item.img }}"
            alt="{{ item.title }}"
            class="w-[80px] rounded-[10px]"
          />
          <div class="flex flex-col">
            <h3 class="text-base cursor-pointer">
              {{ item.title }}
            </h3>
            <div class="flex gap-[10px]">
              <div>1</div>
              <div>x</div>
              <div class="text-primary">{{ item.price | currency }}</div>
            </div>
          </div>
        </div>
        <div class="cursor-pointer" (click)="deleteCartProduct(item.id)">
          <img src="icons/close-filled.svg" alt="Remove" />
        </div>
      </div>
      } } @else {
      <p class="text-center text-gray text-xl m-auto">
        Your shopping cart is empty. Start adding products to your cart to see
        them here.
      </p>
      }
    </div>
    <div class="flex justify-between">
      <div>Subtotal</div>
      <div class="text-primary">{{ cartProductsTotalPrice | currency }}</div>
    </div>
  </div>
  <div class="flex justify-between">
    <a
      routerLink="/cart"
      (click)="toggleCartModal(false)"
      class="border py-[5px] px-[30px] text-xs rounded-[50px]"
    >
      Cart
    </a>
    <a
      routerLink="/checkout"
      (click)="toggleCartModal(false)"
      class="border py-[5px] px-[30px] text-xs rounded-[50px]"
    >
      Checkout
    </a>
    <a
      routerLink="/comparison"
      (click)="toggleCartModal(false)"
      class="border py-[5px] px-[30px] text-xs rounded-[50px]"
    >
      Comparison
    </a>
  </div>
</div>
}
