<div class="flex flex-col gap-4">
  <h2 class="text-3xl font-bold font-poppins">Forgot Password</h2>
  <form [formGroup]="resetForm" class="flex flex-col gap-4">
    <app-input
      placeholder="Password"
      label="Password"
      type="password"
      bgC="secondary"
      width="full"
      [control]="resetForm.controls['password']"
    ></app-input>
    <app-input
      placeholder="Confirm Password"
      label="Confirm password"
      type="password"
      bgC="secondary"
      width="full"
      [control]="resetForm.controls['confirmPassword']"
    ></app-input>

    <div
      class="text-red-light text-center"
      [@slideUpDown]="
        resetForm.errors?.['passwordMismatch'] && resetForm.touched ? 'in' : 'out'
      "
    >
      Passwords do not match
    </div>

    <div
      class="text-green-500 text-center"
      [@slideUpDown]="message ? 'in' : 'out'"
    >
      {{ message }}
    </div>
    <div
      class="text-red-light text-center"
      [@slideUpDown]="errorMessage ? 'in' : 'out'"
    >
      {{ errorMessage }}
    </div>

    <app-button class="text-center" (click)="resetPassword()"
      >Reset Password</app-button
    >
  </form>
</div>
