<div class="flex justify-center items-center min-h-screen">
  <div class="shadow w-[90%] lg:w-[60%] p-10 rounded-xl h-fit m-auto">
    <h2 class="text-center text-2xl font-bold mb-4">Forgot Password</h2>
    <form class="flex flex-col gap-6" action="" [formGroup]="resetForm">
      <app-input
        placeholder="Password"
        label="password"
        type="password"
        bgC="secondary"
        width="full"
        [control]="passwordControl"
      ></app-input>
      <app-input
        placeholder="Confirm Password"
        label="confirm password"
        type="password"
        bgC="secondary"
        width="full"
        [control]="confirmPasswordControl"
      ></app-input>
      @if(resetForm.errors?.['passwordMatch']){
      <p class="text-red-500">Passwords do not match</p>
      }
      <app-button class="text-center" (click)="resetPassword()"
        >Reset Password</app-button
      >
    </form>
  </div>
</div>
