<div class="flex flex-col gap-4">
  <h2 class="text-5xl font-bold font-poppins">Forgot Password</h2>

  <form [formGroup]="resetForm" class="flex flex-col gap-1">
    <app-input
      placeholder="Password"
      label="password"
      type="password"
      bgC="secondary"
      width="full"
      [control]="resetForm.controls['password']"
    ></app-input>
    <app-input
      placeholder="Confirm Password"
      label="confirm password"
      type="password"
      bgC="secondary"
      width="full"
      [control]="resetForm.controls['confirmPassword']"
    ></app-input>
    @if(resetForm.errors?.['passwordMatch']){
    <p class="text-red-light">Passwords do not match</p>
    }
    <app-button class="text-center" (click)="resetPassword()"
      >Reset Password</app-button
    >
  </form>
</div>
