@let user = (user$ |async)??{name:'',email:'',thumbnail:''};@let cartLength =
(cartLength$|async)??0; @let favoritesLength = (favoritesLength$|async)??0;

<ul class="flex gap-[15px] py-[15px] w-full justify-center">
  <li class="relative h-[20px]">
    <button class="cursor-pointer" (click)="showFavModal()">
      <img src="icons/heart.svg" alt="" srcset="" class="w-[20px]" />
    </button>
    @if(favoritesLength){
    <div
      class="absolute top-0 right-0 bg-primary text-white w-[20px] h-[20px] rounded-[50px] text-xs flex justify-center items-center translate-x-[50%] translate-y-[-50%]"
    >
      @if((favoritesLength$|async)&&favoritesLength<10){
      {{ favoritesLength$ | async }}
      } @else{ 9+ }
    </div>
    }
  </li>
  <li class="relative h-[20px]">
    <button class="cursor-pointer" (click)="showCartModal()">
      <img src="icons/shopping-cart.svg" alt="" srcset="" class="w-[20px]" />
    </button>
    @if(cartLength$|async){
    <div
      class="absolute top-0 right-0 bg-primary text-white w-[20px] h-[20px] rounded-[50px] text-xs flex justify-center items-center translate-x-[50%] translate-y-[-50%]"
    >
      @if((cartLength$|async)&&cartLength<10){
      {{ cartLength$ | async }}
      } @else{ 9+ }
    </div>
    }
  </li>

  <li class="rounded-4xl overflow-hidden">
    <a routerLink="{{ isLoggedIn ? ['/profile'] : '/auth' }}">
      <img
        [src]="isLoggedIn ? user.thumbnail : 'icons/account-alert.svg'"
        alt=""
        srcset=""
        class="w-[20px] h-[20px] object-cover"
        (onimageerror)="onImageError($event)"
      />
    </a>
  </li>
</ul>
