// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

html {
  @include mat.slider-overrides(
    (
      handle-color: var(--color-primary),
      active-track-color: var(--color-primary),
      hover-state-layer-color: transparent,
      focus-state-layer-color: transparent,
      focus-handle-color: #a87706,
    )
  );
  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: var(--color-primary),
    )
  );
  @include mat.dialog-overrides(());
}
