.stepper-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }
  
  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .step-number {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gray;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  
  .step-line {
    width:20%;
    height: 3px;
    background-color: gray;
    transition: all 0.3s;
  }
  
  .step.active .step-number {
    background-color: #b88e2f;
}

.step.active .step-label {
    font-weight: bold;
    color: #b88e2f;
  }
  
  .step-line.active {
    background-color: #b88e2f; 
  }
  
  .step-number.completed {
    background-color: #b88e2f;
  }
  