<div class="ps-7 mt-1">
  <label class="block" for="">{{ label }}</label>
  <input
    [type]="type"
    class="w-[{{ width }}] outline-0 rounded-md p-1 ps-2 mt-1 bg-{{ bgC }}"
    [placeholder]="placeholder"
    [formControl]="control"
  />
  <!-- Error Messages -->

  @if(control.invalid && control.touched){
  <div class="text-red-500 text-sm mt-1">
    @if(control.errors?.['required']){

    <span>This field is required.</span>
    }@else if (control.errors?.['email']) {

    <span>Invalid email format.</span>
    }@else if (control.errors?.['pattern'] ) {
    <span>Please Enter A valid {{ label }}.</span>
    }@else if(control.errors?.['minlength']) {

    <span
      >Minimum length is
      {{ control.errors?.['minlength'].requiredLength }}.</span
    >
    }
  </div>
  }
</div>
