<div class="font-poppins text-black">
  <app-header
    (openFavorites)="toggleFavModal(true)"
    (openCart)="toggleCartModal(true)"
  >
  </app-header>

  <router-outlet />
  <app-footer></app-footer>
</div>

<ng-toast [position]="ToasterPosition.BOTTOM_RIGHT" />
<!-- Favorites Modal -->
@if (favModalShow) {
  <div
    class="fixed top-0 right-0 z-[1000] h-full w-full bg-black-transparent"
    (click)="toggleFavModal(false)"
  ></div>
  <div
    class="fixed top-0 right-0 z-[1000] flex h-full w-full max-w-[420px] flex-col gap-[25px] bg-gray-light p-[25px]"
    [@slideInOut]="favModalShow ? 'in' : 'out'"
  >
    <div class="flex justify-between">
      <h3 class="text-2xl font-semibold">Favorites</h3>
      <div class="cursor-pointer" (click)="toggleFavModal(false)">
        <img src="icons/close.svg" alt="Close" />
      </div>
    </div>
    <div
      class="flex flex-1 flex-col gap-[10px] overflow-scroll border-y border-gray py-[10px]"
    >
      @if (favoritesLength$ | async) {
        @for (item of favorites$ | async; track item.id) {
          <div
            class="ease flex items-center rounded p-2 shadow-sm duration-300 hover:shadow-xl"
          >
            <div
              class="flex flex-1 cursor-pointer items-center gap-3"
              [routerLink]="['/product', item.id]"
            >
              <img
                src="{{ item.image }}"
                alt="{{ item.name }}"
                class="h-20 w-20 rounded-[10px] object-cover"
              />
              <h3 class="flex-1 cursor-pointer text-base">
                {{ item.name }}
              </h3>
            </div>
            <div class="cursor-pointer" (click)="deleteFavorite(item.id)">
              <img src="icons/close-filled.svg" alt="Remove" />
            </div>
          </div>
        }
      } @else {
        <p class="m-auto text-center text-xl text-gray">
          You don't have any favorites!
        </p>
      }
    </div>
    <div class="flex justify-between">
      <a
        routerLink="/favorites"
        (click)="toggleFavModal(false)"
        class="rounded-[50px] border px-[30px] py-[5px] text-xs"
      >
        See more
      </a>
    </div>
  </div>
}

<!-- Shopping Cart Modal -->
@if (cartModalShow) {
  <div
    class="fixed top-0 right-0 z-[999] h-full w-full bg-black-transparent"
    (click)="toggleCartModal(false)"
  ></div>
  <div
    class="fixed top-0 right-0 z-[1000] flex h-full w-full max-w-[420px] flex-col gap-[25px] bg-gray-light p-[25px]"
    [@slideInOut]="cartModalShow ? 'in' : 'out'"
  >
    <div class="flex items-center justify-between">
      <h3 class="text-2xl font-semibold">Shopping Cart</h3>
      <div class="cursor-pointer" (click)="toggleCartModal(false)">
        <img src="icons/close.svg" alt="Close" />
      </div>
    </div>
    <div
      class="flex flex-1 flex-col justify-between gap-[10px] overflow-scroll border-y border-gray py-[10px]"
    >
      <div class="flex flex-1 flex-col gap-[25px] overflow-scroll">
        @if (cartLength) {
          <div
            *ngFor="let item of cart"
            class="ease flex items-center rounded p-2 shadow-sm duration-300 hover:shadow-xl"
          >
            <div
              class="flex flex-1 cursor-pointer items-center gap-3"
              [routerLink]="['/product', item.id]"
            >
              <img
                [src]="item.image"
                [alt]="item.name"
                class="h-20 w-20 rounded-[10px] object-cover"
              />
              <div class="flex flex-col">
                <h3 class="cursor-pointer text-base">{{ item.name }}</h3>
                <div class="flex gap-[10px]">
                  <div>{{ item.quantity }}</div>
                  <div>x</div>
                  <div class="text-primary">{{ item.price | currency }}</div>
                </div>
              </div>
            </div>
            <div class="cursor-pointer" (click)="deleteCartProduct(item.id)">
              <img src="icons/close-filled.svg" alt="Remove" />
            </div>
          </div>
        } @else {
          <p class="m-auto text-center text-xl text-gray">
            Your shopping cart is empty. Start adding products to your cart to
            see them here.
          </p>
        }
      </div>
      <div class="flex justify-between">
        <div>Subtotal</div>
        <div class="text-primary">
          {{ cartProductsTotalPrice | currency }}
        </div>
      </div>
    </div>
    <div class="flex justify-between">
      <a
        routerLink="/cart"
        (click)="toggleCartModal(false)"
        class="rounded-[50px] border px-[30px] py-[5px] text-xs"
        >Cart</a
      >
      @if (cartLength) {
        <a
          [routerLink]="['/checkout']"
          class="cursor-pointer rounded-[50px] border px-[30px] py-[5px] text-xs"
          >Checkout</a
        >
      }
      <a
        routerLink="/comparison"
        (click)="toggleCartModal(false)"
        class="rounded-[50px] border px-[30px] py-[5px] text-xs"
        >Comparison</a
      >
    </div>
  </div>
}
