<div
  class="sticky flex justify-between items-center h-[100px] lg:px-[30px] px-[10px] z-[999]"
  style="box-shadow: 0 0 10px #0000004d"
>
  <div class="flex items-center gap-[5px]">
    <img src="images/logo.png" alt="" class="w-[50px]" />
    <div class="text-[34px] font-bold font-montserrat">Furniro</div>
  </div>
  <div class="hidden md:flex items-center flex-1 justify-center">
    <ul class="flex gap-[30px] lg:gap-[40px]">
      <li class="px-[10px] leading-[40px] hover:bg-light duration-300 ease">
        <a routerLink="/" class="text-[16px] font-medium font-poppins">Home</a>
      </li>
      <li class="px-[10px] leading-[40px] hover:bg-light duration-300 ease">
        <a routerLink="/shop" class="text-[16px] font-medium font-poppins"
          >Shop</a
        >
      </li>
      <li class="px-[10px] leading-[40px] hover:bg-light duration-300 ease">
        <a routerLink="/blogs" class="text-[16px] font-medium font-poppins"
          >Blogs</a
        >
      </li>
      <li class="px-[10px] leading-[40px] hover:bg-light duration-300 ease">
        <a routerLink="/contact" class="text-[16px] font-medium font-poppins"
          >Contact</a
        >
      </li>
    </ul>
  </div>

  <div class="hidden md:flex">
    <ul class="flex gap-[15px] items-center">
      <li>
        <div
          class="h-full rounded-[10px] relative p-1 justify-end bg-white h-14 flex items-center cursor-pointer w-60 border border-gray-300 rounded-md focus:outline-none"
          (click)="toggleSearch(true)"
        >
          <input
            type="text"
            class="focus:outline-none"
            [(ngModel)]="searchValue"
            (input)="updateSearch()"
          />
          <img src="icons/search.svg" alt="" srcset="" class="w-[20px]" />
          <div
            *ngIf="searchValue"
            class="absolute top-full left-0 bg-white w-full rounded-md shadow-md p-2 mt-2 z-10"
          >
            <ul class="flex flex-col">
              <li
                *ngFor="let item of searchValues"
                class="p-2 duration-300 ease-in-out cursor-pointer rounded-md"
              >
                {{ item }}
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="relative h-[20px]">
        <button class="cursor-pointer" (click)="toggleFavModal(true)">
          <img src="icons/heart.svg" alt="" srcset="" class="w-[20px]" />
        </button>
        @if(favorites.length){
        <div
          class="absolute top-0 right-0 bg-dark text-white w-[20px] h-[20px] rounded-[50px] text-xs flex justify-center items-center translate-x-[50%] translate-y-[-50%]"
        >
          @if(favorites.length<10){
          {{ favorites.length }}
          } @else{ 9+ }
        </div>
        }
      </li>
      <li class="relative h-[20px]">
        <button class="cursor-pointer" (click)="toggleCartModal(true)">
          <img
            src="icons/shopping-cart.svg"
            alt=""
            srcset=""
            class="w-[20px]"
          />
        </button>
        @if(cart.length){
        <div
          class="absolute top-0 right-0 bg-dark text-white w-[20px] h-[20px] rounded-[50px] text-xs flex justify-center items-center translate-x-[50%] translate-y-[-50%]"
        >
          @if(cart.length<10){
          {{ cart.length }}
          } @else{ 9+ }
        </div>
        }
      </li>
      <li>
        <a routerLink="/register">
          <img
            src="icons/account-alert.svg"
            alt=""
            srcset=""
            class="w-[20px]"
          />
        </a>
      </li>
    </ul>
  </div>
  <button
    (click)="toggleMenu()"
    class="cursor-pointer"
    [class.active]="isActive"
  >
    <div
      class="hamburgerMenu md:hidden flex flex-col justify-evenly items-center w-[40px] h-[40px]"
    >
      <span
        class="menuSign border border-[2px] rounded-[5px] w-[60%] duration-300 ease"
      ></span>
      <span
        class="menuSign border border-[2px] rounded-[5px] w-[90%] duration-300 ease"
      ></span>
      <span
        class="menuSign border border-[2px] rounded-[5px] w-[60%] duration-300 ease"
      ></span>
    </div>
  </button>

  <div
    class="mobileMenu hidden flex-col absolute top-[100px] right-0 w-[250px] text-center bg-white"
    style="box-shadow: 0 0 10px #0000004d"
  >
    <div>
      <ul>
        <li
          class="flex justify-center border-b border-gray-medium hover:bg-light duration-300 ease"
        >
          <a class="w-100 py-[10px]" routerLink="/home"> Home </a>
        </li>
        <li
          class="flex justify-center items-center border-b border-gray-medium hover:bg-light duration-300 ease"
        >
          <a class="w-100 py-[10px]" routerLink="/shop"> Shop </a>
        </li>
        <li
          class="flex justify-center items-center border-b border-gray-medium hover:bg-light duration-300 ease"
        >
          <a class="w-100 py-[10px]" routerLink="/blog"> Blogs </a>
        </li>
        <li
          class="flex justify-center items-center border-b border-gray-medium hover:bg-light duration-300 ease"
        >
          <a class="w-100 py-[10px]" routerLink="/contact"> Contact </a>
        </li>
        <li class="flex justify-center items-center border-b border-gray">
          <ul class="flex gap-[15px] py-[15px]">
            <li>
              <a routerLink="/register">
                <img
                  src="icons/account-alert.svg"
                  alt=""
                  srcset=""
                  class="w-[20px]"
                />
              </a>
            </li>
            <li>
              <button class="cursor-pointer">
                <img src="icons/search.svg" alt="" srcset="" class="w-[20px]" />
              </button>
            </li>
            <li class="relative">
              <button class="cursor-pointer" (click)="toggleFavModal(true)">
                <img src="icons/heart.svg" alt="" srcset="" class="w-[20px]" />
              </button>
              @if(favorites.length){
              <div
                class="absolute top-0 right-0 bg-dark text-white w-[20px] h-[20px] rounded-[50px] text-xs flex justify-center items-center translate-x-[50%] translate-y-[-50%]"
              >
                @if(favorites.length<10){
                {{ favorites.length }}
                } @else{ 9+ }
              </div>
              }
            </li>
            <li class="relative">
              <button class="cursor-pointer" (click)="toggleCartModal(true)">
                <img
                  src="icons/shopping-cart.svg"
                  alt=""
                  srcset=""
                  class="w-[20px]"
                />
              </button>
              @if(cart.length){
              <div
                class="absolute top-0 right-0 bg-dark text-white w-[20px] h-[20px] rounded-[50px] text-xs flex justify-center items-center translate-x-[50%] translate-y-[-50%]"
              >
                @if(cart.length<10){
                {{ cart.length }}
                } @else{ 9+ }
              </div>
              }
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- modal -->
@if(this.favModalShow){
<div
  class="fixed top-0 w-full h-full bg-[#00000073] z-[999]"
  (click)="toggleFavModal(false)"
></div>
<div
  class="w-50 bg-[#f5f5f5] p-[25px] flex flex-col w-full max-w-[420px] gap-[25px] z-[1000] absolute top-0 right-0 h-full"
>
  <div class="flex justify-between">
    <h3 class="text-2xl font-semibold">Favorites</h3>
    <div class="cursor-pointer" (click)="toggleFavModal(false)">
      <img src="icons/close.svg" alt="" />
    </div>
  </div>
  <div
    class="border-y border-gray-medium flex-1 flex flex-col gap-[25px] py-[25px]"
  >
    @if(favorites.length){ @for(item of favorites; track item.id){
    <div class="flex items-center gap-[30px]">
      <img src="{{ item.img }}" alt="" class="w-[80px] rounded-[10px]" />
      <div class="flex flex-1 justify-between">
        <h3 class="text-base">{{ item.title }}</h3>
        <div class="cursor-pointer" (click)="deletefavorites(item.id)">
          <img src="icons/close-filled.svg" alt="" />
        </div>
      </div>
    </div>
    } } @else {
    <p class="text-center text-gray-medium text-xl m-auto">
      You don't have any favorites!
    </p>
    }
  </div>
  <div class="flex justify-between">
    <a
      routerLink="/favorites"
      (click)="toggleFavModal(false)"
      class="border py-[5px] px-[30px] text-xs rounded-[50px]"
      >See more</a
    >
  </div>
</div>
} @if(this.cartModalShow){
<div
  class="fixed top-0 w-full h-full bg-[#00000073] z-[999]"
  (click)="toggleCartModal(false)"
></div>
<div
  class="w-50 bg-[#f5f5f5] p-[25px] flex flex-col w-full max-w-[420px] gap-[25px] z-[1000] absolute top-0 right-0 h-full"
>
  <div class="flex justify-between items-center">
    <h3 class="text-2xl font-semibold">Shopping Cart</h3>
    <div class="cursor-pointer" (click)="toggleCartModal(false)">
      <img src="icons/close.svg" alt="" />
    </div>
  </div>
  <div
    class="border-y border-gray-medium flex-1 flex flex-col gap-[25px] py-[25px] justify-between"
  >
    <div class="flex flex-col gap-[25px] flex-1">
      @if(cart.length){ @for(item of cart; track item.id){
      <div class="flex items-center gap-[30px]">
        <img src="{{ item.img }}" alt="" class="w-[80px] rounded-[10px]" />
        <div class="flex flex-1 justify-between items-center">
          <div class="flex flex-col">
            <h3 class="text-base">{{ item.title }}</h3>
            <div class="flex gap-[10px]">
              <div>1</div>
              <div>x</div>
              <div class="text-dark">{{ item.price | currency }}</div>
            </div>
          </div>
          <div class="cursor-pointer" (click)="deleteCartProduct(item.id)">
            <img src="icons/close-filled.svg" alt="" />
          </div>
        </div>
      </div>
      } }@else {
      <p class="text-center text-gray-medium text-xl m-auto">
        Your shopping cart is empty. Start adding products to your cart to see
        them here.
      </p>
      }
    </div>
    <div class="flex justify-between">
      <div>Subtotal</div>
      <div class="text-dark">{{ cartProductsTotalPrice | currency }}</div>
    </div>
  </div>
  <div class="flex justify-between">
    <a
      routerLink="/cart"
      (click)="toggleCartModal(false)"
      class="border py-[5px] px-[30px] text-xs rounded-[50px]"
      >Cart</a
    >
    <a
      routerLink="/checkout"
      (click)="toggleCartModal(false)"
      class="border py-[5px] px-[30px] text-xs rounded-[50px]"
      >Checkout</a
    >
    <a
      routerLink="/comparison"
      (click)="toggleCartModal(false)"
      class="border py-[5px] px-[30px] text-xs rounded-[50px]"
      >Comparison</a
    >
  </div>
</div>
}
