<app-header-banner bannerTitle="Favorites"></app-header-banner>

<div class="p-5 sm:p-10 flex flex-col lg:flex-row justify-between gap-6">
  <div class="w-full bg-white p-6 shadow rounded-lg h-max">
    <div *ngIf="favorites.length > 0; else emptyFav">
      <div
        *ngFor="let item of favorites"
        class="flex flex-col md:flex-row justify-between items-center gap-2 py-4 border-b"
      >
        <div class="flex flex-1 justify-between md:items-center">
          <div class="flex flex-col sm:flex-row gap-2 flex-1 self-start">
            <img
              [src]="item.img"
              alt="{{ item.title }}"
              class="w-20 h-20 rounded-md bg-secondary p-2"
            />
            <div class="flex flex-col items-start justify-start gap-2">
              <p class="text-lg">
                {{ item.title }}
              </p>
              <p class="text-gray text-sm max-w-[90%]">
                {{ item.description }}
              </p>
            </div>
          </div>
          <app-button [routerLink]="['/product', item.id]" btnWidth="fit"
            >View</app-button
          >
        </div>
        <div class="flex gap-2 justify-end">
          <app-button (click)="addToCart(item)" btnWidth="fit"
            >{{ isInCart(item.id) ? "Remove from" : "Add to" }} Cart</app-button
          >
          <app-button type="primary-outline" btnWidth="fit">Remove</app-button>
        </div>
      </div>
    </div>

    <ng-template #emptyFav>
      <div class="text-center py-10">
        <p class="text-lg font-semibold text-gray">
          Your don't have any favorites
        </p>
      </div>
    </ng-template>
  </div>
</div>

<app-feature-banner></app-feature-banner>
