<div class="flex flex-col gap-4">
  <h2 class="text-3xl font-bold font-poppins">Forgot Password</h2>
  <form [formGroup]="forgotForm" class="flex flex-col gap-4">
    <app-input
      placeholder="Enter your Email"
      label="Email"
      type="email"
      bgC="secondary"
      width="full"
      [control]="forgotForm.controls['email']"
    ></app-input>

    <div
      class="text-green-500 text-center"
      [@slideUpDown]="message ? 'in' : 'out'"
    >
      {{ message }}
    </div>
    <div
      class="text-red-light text-center"
      [@slideUpDown]="errorMessage ? 'in' : 'out'"
    >
      {{ errorMessage }}
    </div>
    <app-button class="text-center" (click)="forgotPassword()">Send</app-button>
  </form>
</div>
