<main>
  <div
    class="flex h-[calc(100vh-100px)] min-h-max items-center justify-center bg-[url('/images/hero.png')] bg-cover bg-fixed bg-center bg-no-repeat p-10 md:justify-end"
  >
    <div
      class="content rounded-md bg-secondary p-5 opacity-[0.9] md:p-10 lg:p-15"
    >
      <p class="font-semibold tracking-wider text-gray-dark">New Arrival</p>
      <h1
        class="my-3 text-2xl font-extrabold text-(--color-dark) md:w-sm md:text-5xl md:leading-15"
      >
        Discover Our New Collection
      </h1>
      <p class="my-5 text-gray-dark md:w-md">
        Step in and explore our diverse collection of timeless, versatile
        furniture designed to blend effortlessly into any space, bringing pure
        comfort and joy. Experience Furniro's feel-good design and make yourself
        at home.
      </p>
      <app-button btnPadding="20px" [routerLink]="['/shop']">{{
        "Buy Now" | uppercase
      }}</app-button>
    </div>
  </div>

  <div class="flex flex-col items-center justify-center p-10">
    <h2 class="my-3 text-2xl font-bold md:text-4xl">Browse The Range</h2>
    <p class="max-w-xl text-center text-sm text-gray md:text-base">
      Find beautifully crafted furniture and décor that perfectly complement
      your space. Discover timeless designs made for comfort and style.
    </p>
    <div
      class="my-10 flex flex-col items-center justify-around gap-3 md:flex-row"
    >
      <div
        *ngFor="let item of (categories$ | async)?.slice(0, 3)"
        class="cursor-pointer overflow-hidden rounded-lg bg-white shadow-md transition-all duration-300 hover:scale-105 hover:shadow-xl"
        (click)="
          this.router.navigate(['/shop'], {
            queryParams: {
              categories: item.id,
            },
          })
        "
      >
        <img [src]="item.image" class="h-80 w-80 object-cover" />
        <p class="my-5 text-center text-xl font-bold">
          {{ item.name | titlecase }}
        </p>
      </div>
    </div>
  </div>

  <div class="flex flex-col items-center justify-center p-10">
    <h2 class="my-3 text-4xl font-bold">Our Products</h2>
    <div
      class="my-10 grid w-full grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
    >
      @for (item of (products$ | async)?.slice(0, 4); track item.id) {
        <app-product-item [product]="item"> </app-product-item>
      }
    </div>

    <app-button type="primary-outline" routerLink="/shop">Show More</app-button>
  </div>

  <div
    class="flex flex-col items-center justify-center gap-5 bg-secondary p-10 md:flex-row"
  >
    <div class="md:w-[50%]">
      <h2 class="my-2 text-2xl font-bold md:text-3xl">
        50+ Beautiful rooms inspiration
      </h2>
      <p class="my-3 text-gray">
        Our designer already made a lot of beautiful prototipe of rooms that
        inspire you
      </p>
      <app-button type="primary-fill" [routerLink]="['/shop']"
        >Explore More</app-button
      >
    </div>

    <div #swiperRef class="swiper w-full">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let product of products$ | async">
          <div class="relative transform transition-transform duration-300">
            <img
              [src]="product.image"
              class="h-[200px] w-[200px] rounded-lg object-cover shadow-lg transition-all duration-300 md:h-[300px] md:w-[300px] lg:h-[400px] lg:w-[400px]"
            />
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>

  <div
    class="flex flex-col items-center justify-center gap-2 bg-gray-light p-10"
  >
    <p class="font-semibold text-gray">Share your setup with</p>
    <h2 class="text-4xl font-semibold">#FurniroFurniture</h2>
    <div #imageSwiper class="swiper w-full">
      <div class="swiper-wrapper py-2">
        <div class="swiper-slide" *ngFor="let product of products$ | async">
          <img
            [src]="product.image"
            class="h-[100px] w-[200px] rounded-lg object-cover shadow md:h-[200px] md:w-[300px] lg:h-[300px] lg:w-[400px]"
          />
        </div>
      </div>
    </div>
    <div #imageSwiper2 class="swiper w-full">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let product of products$ | async">
          <img
            [src]="product.image"
            class="h-[100px] w-[200px] rounded-lg object-cover shadow md:h-[200px] md:w-[300px] lg:h-[300px] lg:w-[400px]"
          />
        </div>
      </div>
    </div>
  </div>
</main>
