<main>
  <div
    class="bg-[url('/images/hero.png')] bg-cover bg-no-repeat bg-center h-[calc(100vh-100px)] min-h-max flex justify-center md:justify-end items-center p-10 bg-fixed"
  >
    <div
      class="content bg-secondary p-5 md:p-10 lg:p-15 rounded-md opacity-[0.9]"
    >
      <p class="tracking-wider font-semibold text-gray-dark">New Arrival</p>
      <h1
        class="text-2xl md:text-5xl md:w-sm md:leading-15 font-extrabold text-(--color-dark) my-3"
      >
        Discover Our New Collection
      </h1>
      <p class="my-5 md:w-md text-gray-dark">
        Step in and explore our diverse collection of timeless, versatile
        furniture designed to blend effortlessly into any space, bringing pure
        comfort and joy. Experience Furniro's feel-good design and make yourself
        at home.
      </p>
      <app-button btnPadding="20px" [routerLink]="['/shop']">{{
        "Buy Now" | uppercase
      }}</app-button>
    </div>
  </div>

  <div class="flex flex-col items-center justify-center p-10">
    <h2 class="text-2xl md:text-4xl my-3 font-bold">Browse The Range</h2>
    <p class="text-sm md:text-base text-gray text-center max-w-xl">
      Find beautifully crafted furniture and décor that perfectly complement
      your space. Discover timeless designs made for comfort and style.
    </p>
    <div
      class="flex justify-around flex-col md:flex-row items-center gap-3 my-10"
    >
      <div
        class="card bg-white rounded-lg overflow-hidden shadow-md transition-all duration-300 hover:shadow-xl hover:scale-110;"
      >
        <img src="/images/categories/1.png" alt="category1" />
        <p class="font-bold text-center my-5 text-xl">Dining</p>
      </div>
      <div
        class="card bg-white rounded-lg overflow-hidden shadow-md transition-all duration-300 hover:shadow-xl hover:scale-110;"
      >
        <img src="/images/categories/2.png" alt="category2" />
        <p class="font-bold text-center my-5 text-xl">Living</p>
      </div>
      <div
        class="card bg-white rounded-lg overflow-hidden shadow-md transition-all duration-300 hover:shadow-xl hover:scale-110;"
      >
        <img src="/images/categories/3.png" alt="category3" />
        <p class="font-bold text-center my-5 text-xl">Bedroom</p>
      </div>
    </div>
  </div>

  <div class="flex flex-col items-center justify-center p-10">
    <h2 class="text-4xl my-3 font-bold">Our Products</h2>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 my-10 w-full"
    >
      @for (item of (products$|async)?.slice(0,4); track item.id) {
      <app-product-item [product]="item"> </app-product-item>
      }
    </div>

    <app-button type="primary-outline" routerLink="/shop">Show More</app-button>
  </div>

  <div
    class="flex flex-col md:flex-row items-center justify-center gap-5 p-10 bg-secondary"
  >
    <div class="md:w-[50%]">
      <h2 class="text-2xl md:text-3xl font-bold my-2">
        50+ Beautiful rooms inspiration
      </h2>
      <p class="my-3 text-gray">
        Our designer already made a lot of beautiful prototipe of rooms that
        inspire you
      </p>
      <app-button type="primary-fill" [routerLink]="['/shop']">Explore More</app-button>
    </div>

    <div #swiperRef class="swiper w-full">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let product of products$ | async">
          <div class="relative transform transition-transform duration-300">
            <img
              [src]="product.image"
              class="h-[200px] w-[200px] md:h-[300px] md:w-[300px] lg:h-[400px] lg:w-[400px] object-cover rounded-lg shadow-lg transition-all duration-300"
            />
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>

  <div
    class="flex flex-col items-center justify-center bg-gray-light p-10 gap-2"
  >
    <p class="text-gray font-semibold">Share your setup with</p>
    <h2 class="text-4xl font-semibold">#FurniroFurniture</h2>
    <div #imageSwiper class="swiper w-full">
      <div class="swiper-wrapper py-2">
        <div class="swiper-slide" *ngFor="let product of products$ | async">
          <img
            [src]="product.image"
            class="h-[100px] w-[200px] md:h-[200px] md:w-[300px] lg:h-[300px] lg:w-[400px] object-cover rounded-lg shadow"
          />
        </div>
      </div>
    </div>
    <div #imageSwiper2 class="swiper w-full">
      <div class="swiper-wrapper py-2">
        <div class="swiper-slide" *ngFor="let product of products$ | async">
          <img
            [src]="product.image"
            class="h-[100px] w-[200px] md:h-[200px] md:w-[300px] lg:h-[300px] lg:w-[400px] object-cover rounded-lg shadow"
          />
        </div>
      </div>
    </div>
  </div>
</main>
