<!-- Page Header -->
<app-header-banner bannerTitle="Privacy Policy"></app-header-banner>

<div class="flex justify-center p-10">
  <div class="p-6 bg-white shadow rounded-lg">
    <h1 class="text-3xl font-bold mb-4">Furniro Privacy Policy</h1>

    <h2 class="text-2xl font-semibold mt-6">About this Privacy Policy</h2>
    <p class="mt-2">
      We know how important it is for you to understand how we use your data.
      This Privacy Policy sets out how and why we collect, store, process and
      share your personal data. We will always be transparent with you about
      what we do with your personal data. This Policy also tells you what your
      rights are in relation to the personal data you give to us. If you have
      any questions about this Privacy Policy or your rights under it, please
      contact: Address: Furniro Customer Services Cairo Festival City Ring Road,
      5th settlement , P.O. Box 11835, Cairo, Egypt. Hot line: 16576 E-mail:
      privacy.Furniro.com We are Furniro Branch of Al-Futtaim Egypt for Retail;
      Cairo Festival City Ring Road, 5th settlement , P.O. Box 11835. Further
      referred to as (Furniro). Furniro is the “data controller” of any personal
      data it may collect, process and hold about you, unless we inform you
      otherwise.
    </p>

    <h2 class="text-2xl font-semibold mt-6">
      1. What personal data do we collect?
    </h2>
    <p class="mt-2">
      The personal data we collect from you directly can include your name,
      email address, mobile/landline telephone number, date of birth, address,
      your Furniro FAMILY card number, your purchasing activity, your credit, or
      debit card or other payment information, and information you give us when
      you contact our customer services team, when you engage with our social
      media platform (for example by tagging us in a post on Instagram) or when
      you sign up for Furniro FAMILY membership. If you are using a mobile
      device and shopping with us online or browsing our website, we may collect
      your IP address or other device identifier, browser type and version, time
      zone setting, browser plug-in types and versions, operating system and
      platform, and other portable device information. Where you are using a
      mobile device whilst in store with its WiFi capability switched on or have
      access to our free in-store WiFi, we may additionally collect your MAC
      address and location data whilst you are within the Furniro store or
      immediately within its perimeters.* If you do not want us to track your
      device or use your information in this way, please turn off the WiFi
      capability on your phone or other electronic device within your settings.
      We may, where we have a lawful basis for doing so, also collect personal
      data about you from third parties who provide us with additional publicly
      available information about you. *We use this information on an anonymous
      basis and will never use it to identify any particular user. We won't be
      able to link this data to any other data that we hold about you and the
      purpose of collecting this data is to perform analysis and to help us
      identify people flows around our stores to maximize the efficiency of our
      store design.
    </p>

    <h2 class="text-2xl font-semibold mt-6">
      2. When do we collect your personal data?
    </h2>
    <ul class="list-disc ml-6 mt-2">
      <li>
        When you purchase products and services from us in store, online, or
        over the phone
      </li>
      <li>When you access our website or use any of our mobile Apps</li>
      <li>When you join our Furniro FAMILY loyalty scheme</li>
    </ul>

    <h2 class="text-2xl font-semibold mt-6">
      3. How do we use your personal data?
    </h2>
    <p class="mt-2">
      To make our products and services available to you We use your personal
      data to provide you with the information, products and services that you
      request or purchase from us (i.e. to complete certain tasks, processes or
      orders on our website or within our apps, take payment online (where
      applicable) and deliver your products or services), and to communicate
      with you regarding those products and services that you purchase from us
      and respond to your questions and comments; We may also use your personal
      data to measure how satisfied our customers are and provide customer
      service (including troubleshooting in connection with purchases or your
      requests for services or when you ask us questions on social media); We
      rely on our contractual arrangements with you as the lawful basis on which
      we collect and process your personal data when you make an order for
      products and services. Alternatively, in some cases, we rely on our
      legitimate interests as a business (for example, to measure customer
      satisfaction and troubleshoot customer issues). Where we rely on our
      legitimate interests, we will always make sure that we balance these
      interests against your rights. For administrative and internal business
      purposes We may use your personal data for our internal business purposes,
      such as enhancing our site, improving our services and products and
      identifying usage trends. We may also use your data to monitor the use of
      our website and ensure that our website is presented in the most effective
      and relevant manner for you and your device and setting default options
      for you (such as language and store location); It is in our legitimate
      interests as a business to use your personal data in this way. For
      example, we want to ensure our website is customer friendly and works
      properly and that our products and services are efficient and of high
      quality. We also want to make it easy for you to interact with us. Where
      we rely on our legitimate interests, we will always make sure that we
      balance these interests against your rights. For security and legal
      reasons We use your personal data to: ensure the personal and financial
      information you provide us is accurate; conduct fraud checks or prevent
      other illegal activity; protect our rights or property (or those of
      others); and fulfil our legal and compliance-related obligations. In some
      cases, we will use your personal data because it's necessary for us to
      comply with a legal obligation (such as if we receive a legitimate request
      from a law enforcement agency). In other cases (such as the detection of
      fraud) we will rely on our legitimate interests as a business to use your
      personal data in this way. Where we rely on our legitimate interests, we
      will always make sure that we balance these interests against your rights.
      In relation to your Furniro FAMILY membership We use your personal data to
      personalize your experience with Furniro to: provide you with marketing
      material via SMS, post and email if you have given us your consent to
      this; process your registration details, account activity and purchase
      history to analyze how you shop and what you shop for. This may include
      information on products you have viewed, historical transactions and
      products you have added to your online basket. This allows us to provide a
      browsing experience which is relevant to you; in some instances, we will
      send specific offers to our members based on their in store spend or on a
      special occasion such as when we know it's your birthday; measure the
      effectiveness of our marketing campaigns and our advertising; carry out
      limited automated decision making based on the information you have given
      us when we segment our Furniro FAMILY database to determine which offers
      that you may be interested in. We rely on your consent to send direct SMS,
      postal and email marketing messages to you as an Furniro FAMILY member
      based on the consent we acquired from you when you signed up, as amended
      by you from time to time. In other cases (for example, measuring the
      effectiveness of our marketing), we will rely on our legitimate interests
      as a business to communicate with our Furniro FAMILY members in an
      engaging and efficient way. Where we rely on our legitimate interests, we
      will always make sure that we balance these interests against your rights.
      To personalize your shopping experience and improve our operations We use
      your personal data to: allow you to create a profile on our website which
      enables you to purchase Furniro products and services online without
      having to fill in your personal data every time you shop online with us;
      provide you with marketing material via SMS and email; analyze how you
      shop and what you shop for. This may include information on products you
      have viewed, historical transactions and products you have added to your
      online basket. This allows us to provide a browsing experience which is
      relevant to you. It is in our legitimate interests as a business to use
      your data in this way and we do this in order to enhance your shopping
      experience with us. This allows us to help you find the products and
      services which you may be looking for and avoids you having to browse
      through products or services which are not relevant to you. When we send
      you marketing material via SMS, and email, we will rely on our legitimate
      interests as a business, always ensuring that your rights are protected.
    </p>

    <h2 class="text-2xl font-semibold mt-6">
      4. Who do we share your personal data with?
    </h2>
    <p class="mt-2">
      To make our products and services available to you We use your personal
      data to provide you with the information, products and services that you
      request or purchase from us (i.e. to complete certain tasks, processes or
      orders on our website or within our apps, take payment online (where
      applicable) and deliver your products or services), and to communicate
      with you regarding those products and services that you purchase from us
      and respond to your questions and comments; We may also use your personal
      data to measure how satisfied our customers are and provide customer
      service (including troubleshooting in connection with purchases or your
      requests for services or when you ask us questions on social media); We
      rely on our contractual arrangements with you as the lawful basis on which
      we collect and process your personal data when you make an order for
      products and services. Alternatively, in some cases, we rely on our
      legitimate interests as a business (for example, to measure customer
      satisfaction and troubleshoot customer issues). Where we rely on our
      legitimate interests, we will always make sure that we balance these
      interests against your rights. For administrative and internal business
      purposes We may use your personal data for our internal business purposes,
      such as enhancing our site, improving our services and products and
      identifying usage trends. We may also use your data to monitor the use of
      our website and ensure that our website is presented in the most effective
      and relevant manner for you and your device and setting default options
      for you (such as language and store location); It is in our legitimate
      interests as a business to use your personal data in this way. For
      example, we want to ensure our website is customer friendly and works
      properly and that our products and services are efficient and of high
      quality. We also want to make it easy for you to interact with us. Where
      we rely on our legitimate interests, we will always make sure that we
      balance these interests against your rights. For security and legal
      reasons We use your personal data to: ensure the personal and financial
      information you provide us is accurate; conduct fraud checks or prevent
      other illegal activity; protect our rights or property (or those of
      others); and fulfil our legal and compliance-related obligations. In some
      cases, we will use your personal data because it's necessary for us to
      comply with a legal obligation (such as if we receive a legitimate request
      from a law enforcement agency). In other cases (such as the detection of
      fraud) we will rely on our legitimate interests as a business to use your
      personal data in this way. Where we rely on our legitimate interests, we
      will always make sure that we balance these interests against your rights.
      In relation to your Furniro FAMILY membership We use your personal data to
      personalize your experience with Furniro to: provide you with marketing
      material via SMS, post and email if you have given us your consent to
      this; process your registration details, account activity and purchase
      history to analyze how you shop and what you shop for. This may include
      information on products you have viewed, historical transactions and
      products you have added to your online basket. This allows us to provide a
      browsing experience which is relevant to you; in some instances, we will
      send specific offers to our members based on their in store spend or on a
      special occasion such as when we know it's your birthday; measure the
      effectiveness of our marketing campaigns and our advertising; carry out
      limited automated decision making based on the information you have given
      us when we segment our Furniro FAMILY database to determine which offers
      that you may be interested in. We rely on your consent to send direct SMS,
      postal and email marketing messages to you as an Furniro FAMILY member
      based on the consent we acquired from you when you signed up, as amended
      by you from time to time. In other cases (for example, measuring the
      effectiveness of our marketing), we will rely on our legitimate interests
      as a business to communicate with our Furniro FAMILY members in an
      engaging and efficient way. Where we rely on our legitimate interests, we
      will always make sure that we balance these interests against your rights.
      To personalize your shopping experience and improve our operations We use
      your personal data to: allow you to create a profile on our website which
      enables you to purchase Furniro products and services online without
      having to fill in your personal data every time you shop online with us;
      provide you with marketing material via SMS and email; analyze how you
      shop and what you shop for. This may include information on products you
      have viewed, historical transactions and products you have added to your
      online basket. This allows us to provide a browsing experience which is
      relevant to you. It is in our legitimate interests as a business to use
      your data in this way and we do this in order to enhance your shopping
      experience with us. This allows us to help you find the products and
      services which you may be looking for and avoids you having to browse
      through products or services which are not relevant to you. When we send
      you marketing material via SMS, and email, we will rely on our legitimate
      interests as a business, always ensuring that your rights are protected.
    </p>

    <h2 class="text-2xl font-semibold mt-6">5. Your rights</h2>
    <p class="mt-2">
      You have a number of rights relating to your personal information and what
      happens to it. You are entitled to: Have your data processed in a fair,
      lawful and transparent way; Be informed about how your personal data is
      being used, an example being this privacy policy; Access personal data we
      hold about you; Require us to correct any mistakes in your personal data;
      Require us to delete personal data concerning you in certain situations
      where there is no good reason for us to continue to process it; Request
      that we transfer your personal data to you or another service provider in
      a simple, structured format; Object at any time to processing of your
      personal data for direct marketing purposes; Object to automated decision
      making which produces legal effects concerning you or similarly
      significantly affects you; Object in certain other situations to our
      continued processing of your personal data; and otherwise restrict or
      temporarily stop our processing of your personal data in certain
      circumstances.
    </p>

    <h2 class="text-2xl font-semibold mt-6">6. Changing your preferences</h2>
    <p class="mt-2">
      If you no longer wish to be contacted by us about our products or
      services, or for other marketing purposes, you can amend your preferences
      or unsubscribe by contacting us. Alternatively, if you have a profile on
      the Furniro website, you can unsubscribe by logging into your account, or
      simply follow the unsubscribe link provided in emails you receive from us.
      We want to ensure that all the information we have about our customers is
      factually correct and up to date. If you find that the personal data we
      have about you is inaccurate or needs updating (for instance, you may have
      changed your name or address) then please contact us so that we can
      correct it. If you have created a profile on the Furniro website, you can
      change the details stored about you by logging into your account.
    </p>

    <h2 class="text-2xl font-semibold mt-6">
      7. Security and retention of your personal data
    </h2>
    <p class="mt-2">
      Security of your personal data We take the security of your personal data
      very seriously. We have implemented various strategies, controls, policies
      and measures to keep your data secure and keep these measures under close
      review. We protect your data by using encryption techniques and we use
      other safeguards such as firewalls and password protection. This means
      that your data is protected and only accessible by co-workers who need it
      to carry out their job responsibilities. We also ensure that there are
      strict physical controls in our buildings which restricts access to your
      personal data to keep it safe. Retention of your personal data In broad
      terms, we will only retain your personal data for as long as is necessary
      for the purposes described in this Privacy Policy. This means that the
      retention periods will vary according to the type of the data and the
      reason that we have the data in the first place. We have procedures in
      place regarding our retention periods which we keep under review taking
      into account our reasons for processing your personal data and the legal
      basis for doing so.
    </p>

    <h2 class="text-2xl font-semibold mt-6">
      8. Changes to this Privacy Policy
    </h2>
    <p class="mt-2">
      We may update this Privacy Policy from time to time. If we make
      significant changes we will let you know but please regularly check this
      policy to ensure you are aware of the most updated version.
    </p>

    <h2 class="text-2xl font-semibold mt-6">9. Furniro Shopping APP</h2>
    <p class="mt-2">
      With your permission, the Furniro APP will use information from cellular,
      Wi-Fi, Global Positioning System (GPS) networks, and Bluetooth to
      determine your location. We will also utilize device-based location and
      background location information to customize, enhance, and personalize
      your experience on the Furniro app.
    </p>
  </div>
</div>

<!-- Page banner -->

<app-feature-banner></app-feature-banner>
