<div class="flex justify-center gap-5 py-5">
  <!-- Previous Button -->
  @if(currentPage>1){
  <app-button
    type="secondary-fill"
    btnWidth="100px"
    (click)="goToPage(currentPage - 1)"
  >
    Previous
  </app-button>
  }

  <!-- Page Numbers -->
  <app-button
    *ngFor="let page of [].constructor(pagesCount); let i = index"
    [type]="currentPage === i + 1 ? 'primary-fill' : 'secondary-fill'"
    btnWidth="60px"
    (click)="goToPage(i + 1)"
  >
    {{ i + 1 }}
  </app-button>

  <!-- Next Button -->
  @if(currentPage < pagesCount){
  <app-button
    type="secondary-fill"
    btnWidth="70px"
    (click)="goToPage(currentPage + 1)"
  >
    Next
  </app-button>
  }
</div>
