<div class="flex flex-col gap-4">
  <h2 class="font-poppins text-5xl font-bold">Sign Up</h2>
  <form [formGroup]="signupForm" class="flex flex-col gap-4">
    <app-input
      placeholder="User name"
      label="Name"
      type="text"
      bgC="secondary"
      width="full"
      [control]="signupForm.controls['username']"
    ></app-input>
    <app-input
      placeholder="test@test.com"
      label="Email"
      type="email"
      bgC="secondary"
      width="full"
      [control]="signupForm.controls['email']"
    ></app-input>
    <app-input
      placeholder="Phone"
      bgC="secondary"
      label="Phone"
      type="text"
      width="full"
      [control]="signupForm.controls['phone']"
    ></app-input>
    <app-input
      placeholder="Password"
      label="Password"
      type="password"
      bgC="secondary"
      width="full"
      [control]="signupForm.controls['password']"
    ></app-input>
    <!-- Agree to privacy Policy -->
    <div class="mt-2 flex w-full flex-col gap-2">
      <div class="flex items-center gap-2">
        <input
          type="checkbox"
          id="agree"
          formControlName="agree"
          class="h-4 w-4"
        />
        <label for="agree" class="text-sm text-gray-600">
          I agree to the
          <a class="cursor-pointer text-primary hover:underline"
            >Terms of Service</a
          >
          and
          <a
            class="cursor-pointer text-primary hover:underline"
            [routerLink]="['/privacypolicy']"
            >Privacy Policy</a
          >.
        </label>
      </div>
      <div
        class="text-sm text-red-light"
        [@slideUpDown]="
          !signupForm.controls['agree'].value &&
          this.signupForm.controls['agree'].touched
            ? 'in'
            : 'out'
        "
      >
        You must agree to the terms before signing in.
      </div>
    </div>

    <div
      class="text-center text-red-light"
      [@slideUpDown]="errorMessage ? 'in' : 'out'"
    >
      {{ errorMessage }}
    </div>

    <div class="flex justify-center">
      <app-button (click)="onSubmit()">Sign Up</app-button>
    </div>

    <div class="mt-2 text-center">
      <span class="text-gray">Already have an account ?</span>
      <span>
        <a
          class="font-bold text-primary opacity-100"
          [routerLink]="['/auth/login']"
        >
          Sign In</a
        >
      </span>
    </div>
  </form>
</div>
