<!-- Page Header -->
<app-header-banner bannerTitle="Returns"></app-header-banner>

<div class="flex justify-center p-10">
  <div class="p-6 bg-white shadow rounded-lg flex flex-col gap-4">
    <h1 class="text-3xl font-bold">Return policy</h1>
    <div class="flex flex-col gap-2">
      <h2 class="text-2xl font-semibold">Returns Time</h2>
      <img src="images/return-policy.avif" alt="retuns" class="self-center" />
      <p class="mt-2">
        For an exchange or refund, you can return your products within 90 days,
        Simply return the unopened items and please return them with proof of
        purchase. If the returns criteria are not met fully, we may refuse the
        return. This policy is in addition to your statutory rights and IKEA
        commercial guarantees.
      </p>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="text-2xl font-semibold">What you will need ?</h2>
      <p class="">
        Your receipt and the item’s original packaging are required for all
        returns and exchanges. We issue refunds through the same method of
        payment as the original payment (e.g. credit card purchases will be
        credited to the original credit card account).
      </p>
    </div>

    <div class="flex flex-col gap-2">
      <h2 class="text-2xl font-semibold">Purchases that are not refundable</h2>
      <p>
        At any time, IKEA reserves the right to refuse a return or exchange, and
        we may ask for picture identification. Please visit your local IKEA
        store or contact us for more details.
      </p>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="text-2xl font-semibold">Online shopping Returns & refund</h2>
      <p>
        If you are not entirely satisfied with your purchase, simply return the
        unopened item within 90 days with your receipt in-store. We will refund
        the price you paid for the goods and credit the refund amount to your
        credit/account that you made payment with. We will not refund any
        delivery and assembly costs you have paid in case you requested to
        return goods already delivered to your home. And based on our evaluation
        of item condition we will refund the product value.
      </p>
    </div>
  </div>
</div>

<!-- Page banner -->

<app-feature-banner></app-feature-banner>
