<div class="w-full h-[46.5rem] bg-white flex flex-col items-center">
  <!-- upper line -->
  <div class="w-full border-t border-gray-medium"></div>

  <!-- optionss -->
  <div class="w-[50%] flex gap-12 mt-10 font-poppins justify-center">
    <span class="text-black font-medium cursor-pointer">Description</span>
    <span class="text-gray-medium hover:text-gray-dark cursor-pointer"
      >Additional Information</span
    >
    <span class="text-gray-medium hover:text-gray-dark cursor-pointer"
      >Reviews [5]</span
    >
  </div>

  <!-- Paragraphs -->
  <div class="w-[70%] text-center font-poppins text-gray mt-6">
    <p>
      Embodying the raw, wayward spirit of rock ‘n’ roll, the Kilburn portable
      active stereo speaker takes the unmistakable look and sound of Marshall,
      unplugs the chords, and takes the show on the road.
    </p>
    <p class="mt-5">
      Weighing in under 7 pounds, the Kilburn is a lightweight piece of
      vintage-styled engineering. Setting the bar as one of the loudest speakers
      in its class, the Kilburn is a compact, stout-hearted hero with
      well-balanced audio that boasts a clear midrange and extended highs for
      articulate, pronounced sound. The analog knobs allow you to fine-tune the
      controls to your preferences, while the guitar-influenced leather strap
      enables easy and stylish travel.
    </p>
  </div>
  <div class="w-[85%] mt-4 flex gap-8">
    <div
      class="w-1/2 h-[21.75rem] bg-secondary rounded-lg flex justify-center items-center"
    >
      <img src="images/products/mainsofa.png" class="object-cover" />
    </div>
    <div
      class="w-1/2 h-[21.75rem] bg-secondary rounded-lg flex justify-center items-center"
    >
      <img src="images/products/mainsofa.png" class="object-cover" />
    </div>
  </div>
</div>
