@let user = (user$ |async)??{name:'',email:'',thumbnail:'',id:'',role:''};

<section class="w-full h-full flex flex-col max-w-2xl">
  <div>
    <header class="flex items-center justify-between">
      <div class="flex flex-col gap-0.5">
        <h3 class="text-lg font-medium">Settings</h3>
        <p class="text-sm text-muted-foreground">
          Manage your account settings
        </p>
      </div>
    </header>

    <div class="max-w-2xl">
      <div
        data-orientation="horizontal"
        role="none"
        class="shrink-0 bg-border h-[1px] w-full my-4"
      ></div>
      <form class="flex flex-col gap-5 rounded p-5">
        <div class="flex flex-col gap-2">
          <label class="text-gray-dark font-medium" for="">Name</label>
          <div class="ml-2 text-gray">{{ user.name }}</div>
        </div>
        <div class="flex flex-col gap-2">
          <label class="text-gray-dark font-medium" for="">Email</label>

          <div class="ml-2 text-gray">{{ user.email }}</div>
        </div>
        <div class="space-y-2">
          <label
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for=":r15:-form-item"
            >Avatar</label
          >
          <div class="flex items-center gap-2">
            <img
              alt="User image"
              loading="lazy"
              decoding="async"
              data-nimg="1"
              class="rounded-full w-15 h-15 object-cover"
              [src]="user.thumbnail"
              style="color: transparent"
            />
            <div
              class="flex flex-col items-center justify-center gap-1 scale-75 ut-button:ring-primary ut-button:bg-primary/75 hover:ut-button:bg-primary ut-button:transition-all ut-button:duration-500 ut-label:hidden ut-allowed-content:hidden"
              data-state="ready"
            >
              <input
                type="file"
                #fileInput
                (change)="onFileSelected($event)"
                accept="image/*"
                class="hidden"
                id="avatarUpload"
              />
              <label
                class="cursor-pointer inline-flex items-center justify-center px-4 py-2 text-sm font-medium bg-primary text-white rounded-md"
                for="avatarUpload"
              >
                Change Avatar
              </label>
              <div
                class="h-[1.25rem] text-xs leading-5 text-gray-600"
                data-state="ready"
                data-ut-element="allowed-content"
              >
                Image (2MB)
              </div>
            </div>
          </div>
        </div>

        <app-input
          placeholder="Password"
          label="New Password"
          type="password"
          bgC="secondary"
          width="full"
          [control]="changePasswordForm.controls['password']"
        ></app-input>
        <app-input
          placeholder="Password"
          label="Confirm Password"
          type="password"
          bgC="secondary"
          width="full"
          [control]="changePasswordForm.controls['confirmPassword']"
        ></app-input>
        @if(changePasswordForm.controls['password'].value
        &&changePasswordForm.errors?.['passwordMismatch'] &&
        changePasswordForm.touched){

        <div
          class="text-red-light text-center"
          [@slideUpDown]="
            changePasswordForm.errors?.['passwordMismatch'] && changePasswordForm.touched  ? 'in' : 'out'
          "
        >
          Passwords do not match
        </div>
        } @if(errorMessage == staticMessages){
        <p class="text-red-light text-center">{{ staticMessages }}</p>

        }@else if(errorMessage) {
        <p class="text-green-light text-center">password changed successfuly</p>
        }

        <app-button (click)="update($event)">Update</app-button>
      </form>
    </div>
  </div>
</section>
<!--  <div class="space-y-2">
          <label
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for=":r1a:-form-item"
            >Two Factor Authentication</label
          >
          <p
            id=":r1a:-form-item-description"
            class="text-sm text-muted-foreground"
          >
            Enable two factor authentication to add an extra layer of security
            to your account.
          </p>
          <button
            type="button"
            role="switch"
            value="on"
            class="peer inline-flex h-6 w-11 shrink-0 cursor-pointer items-center rounded-full border-2 border-transparent transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 focus-visible:ring-offset-background {{
              isChecked ? 'bg-primary' : 'bg-gray-light'
            }}"
          >
            <span
              data-state="unchecked"
              data-disabled=""
              class="pointer-events-none block h-5 w-5 rounded-full bg-white shadow-lg ring-0 transition-transform {{
                isChecked ? 'translate-x-5' : 'translate-x-0'
              }}"
            ></span></button
          ><input
            tabindex="-1"
            type="checkbox"
            value="on"
            (input)="toggleCheck()"
            style="
              transform: translateX(-100%);
              position: absolute;
              opacity: 0;
              margin: 0px;
              width: 44px;
              height: 24px;
            "
          />
        </div> -->
