<div class="bg-gray-light relative">
  <div
    class="overlay p-3 absolute w-full h-full top-0 left-0 flex flex-col items-center justify-center opacity-0 hover:opacity-100 transition"
  >
    <app-button type="plainBtn">add to cart</app-button>
    <div class="flex flex-row flex-wrap justify-center gap-4 text-white mt-3">
      <p class="flex gap-1 cursor-pointer"><img src="/icons/view.svg" />view</p>
      <p class="flex gap-1 cursor-pointer">
        <img src="/icons/share.svg" />share
      </p>
      <p class="flex gap-1 cursor-pointer">
        <img src="/icons/compare.svg" />compare
      </p>
      <p class="flex gap-1 cursor-pointer">
        <img src="/icons/heart.svg" /> like
      </p>
    </div>
  </div>
  @if(product.sale){
  <p class="saleIcon bg-red-light">-{{ product.sale }}%</p>

  }
  <img [src]="product.img" class="w-full" alt="prduct" />
  <div class="p-3">
    <div class="flex justify-between">
      <h3 class="font-semibold">{{ product.title }}</h3>
      <a routerLink="" class="sm:block md:hidden">View</a>
    </div>
    <p class="my-3 text-gray">{{ product.description }}</p>
    @if (product.sale) {
    <div
      class="flex flex-col lg:flex-row gap-1 justify-between overflow-hidden lg:mb-[16px]"
    >
      <p class="font-semibold">
        {{ (product.sale * product.price) / 100 | currency }}
      </p>
      <p class="line-through text-xs text-gray">
        {{ product.price | currency }}
      </p>
    </div>
    }@else {
    <p class="font-semibold">{{ product.price | currency }}</p>
    <p class="h-[16px]"></p>
    }
  </div>
</div>
