.saleIcon {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px;
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.overlay{
  background-color: #757272ac;
}