<div class="bg-secondary p-10 lg:py-[100px]">
  <div
    class="justify-evenly items-center grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-[20px]"
  >
    <div class="py-[20px] flex items-center gap-[10px]">
      <img src="icons/trophy.svg" alt="" class="w-[60px]" />
      <div>
        <h3 class="text-xl font-semibold">High Quality</h3>
        <p class="text-gray leading-[150%]">Crafted from top materials</p>
      </div>
    </div>
    <div class="py-[20px] flex items-center gap-[10px]">
      <img src="icons/warranty.svg" alt="" class="w-[60px]" />
      <div>
        <h3 class="text-xl font-semibold">Warranty Protection</h3>
        <p class="text-gray leading-[150%]">Over 2 years</p>
      </div>
    </div>
    <div class="py-[20px] flex items-center gap-[10px]">
      <img src="icons/shipping.svg" alt="" class="w-[60px]" />
      <div>
        <h3 class="text-xl font-semibold">Free Shipping</h3>
        <p class="text-gray leading-[150%]">Order over 150 $</p>
      </div>
    </div>
    <div class="py-[20px] flex items-center gap-[10px]">
      <img src="icons/customer-support.svg" alt="" class="w-[60px]" />
      <div>
        <h3 class="text-xl font-semibold">24 / 7 Support</h3>
        <p class="text-gray leading-[150%]">Dedicated support</p>
      </div>
    </div>
  </div>
</div>
