<div class="flex flex-row">
  <div class="bg-[#F9F1E7] h-[100vh] w-[60%] lg:block hidden">
    <div class="w-[100%] mt-[50px]">
      <img src="images/signup&login_image.png" alt="" />
    </div>
  </div>
  <div class="w-[100%] flex flex-col justify-center items-center">
    <div class="shadow-md w-[90%] md:w-[50%] pb-4 rounded-xl h-fit">
      <div class="logo flex flex-row ps-5 pt-5">
        <img src="images/logo.png" alt="" class="w-[50px] h-[32px]" />
        <div class="text-[25px] font-bold font-montserrat">Furniro</div>
      </div>
      <div class="sign text-[36px] font-bold ps-8 pt-5 font-poppins">
        Sign Up
      </div>
      <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
        <app-input
          placeholder="User name"
          label="Name"
          type="text"
          bgC="dark"
          width="90%"
          [control]="form.controls['name']"
        ></app-input>
        <app-input
          placeholder="test@test.com"
          label="Email"
          type="email"
          bgC="dark"
          width="90%"
          [control]="form.controls['email']"
        ></app-input>
        <app-input
          placeholder="Phone"
          bgC="dark"
          label="Phone"
          type="text"
          width="90%"
          [control]="form.controls['phone']"
        ></app-input>
        <app-input
          placeholder="Password"
          label="Password"
          type="password"
          bgC="dark"
          width="90%"
          [control]="form.controls['password']"
        ></app-input>
        <div class="text-center mt-4">
          <span class="opacity-30">have an account ?</span>
          <span>
            <a class="text-dark opacity-100" href=""> Sign In</a>
          </span>
          <div
            class="m-auto bg-dark rounded-3xl p-2 text-white w-[30%] text-center flex items-center justify-center mt-5"
          >
            <button class="cursor-pointer" type="submit">SIGN UP</button>
            <img src="icons/Arrow-1.svg" alt="" class="ms-2" />
          </div>
        </div>
      </form>
    </div>
    <hr class="w-[100%] mt-[50px] text-dark hidden lg:block" />
  </div>
</div>
