<div
  class="bg-[url('/images/header-banner-background.jpg')] bg-cover aspect-[4.5] w-full bg-no-repeat"
>
  <div class="flex flex-col justify-center items-center h-full gap-[10px]">
    <h3 class="text-xl md:text-4xl lg:text-5xl font-medium lg:leading-[72px]">
      {{ bannerTitle }}
    </h3>
    <nav class="flex items-center gap-[10px]">
      <div>
        <a routerLink="/">Home</a>
      </div>
      <div class="">
        <img src="icons/arrow.svg" alt="" />
      </div>
      <div>{{ bannerTitle }}</div>
    </nav>
  </div>
</div>
