<!--**** Header component ****-->
<app-header-banner bannerTitle="Checkout"></app-header-banner>

<!--**** stepper component ****-->
<app-stepper></app-stepper>

<!--**** Checkout Section ****-->
<section class="flex flex-col md:flex-row p-10 gap-10 mx-auto">
  <!-- Billing Details Form -->
  <div class="flex-1 p-6 shadow rounded-lg">
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
      <h2 class="text-3xl font-bold mb-4 text-gray-800">Billing Details</h2>

      <!--*** First Name ***-->
      <app-input
        label="First Name *"
        labelClass="text-gray-700 font-medium"
        placeholder="First Name"
        type="text"
        bgC="secondary"
        width="full"
        [control]="firstName"
      ></app-input>

      <!--*** Last Name ***-->
      <app-input
        label="Last Name *"
        labelClass="text-gray-700 font-medium"
        placeholder="Last Name"
        type="text"
        bgC="secondary"
        width="full"
        [control]="lastName"
      ></app-input>

      <!--*** Company Name ***-->
      <app-input
        label="Company Name (Optional)"
        labelClass="text-gray-700 font-medium"
        placeholder="Company Name"
        type="text"
        bgC="secondary"
        width="full"
        [control]="companyName"
      ></app-input>

      <!--*** Country ***-->
      <app-input
      label="Country / Region *"
      labelClass="text-gray-700 font-medium"
      placeholder="Select Country"
      type="select"
      bgC="secondary"
      width="full"
      [control]="country"
    >
    </app-input>

      <!--*** Address ***-->
      <app-input
        label="Street Address *"
        labelClass="text-gray-700 font-medium"
        placeholder="Address"
        type="text"
        bgC="secondary"
        width="full"
        [control]="address"
      ></app-input>

      <!--*** City ***-->
      <app-input
        label="Town / City *"
        labelClass="text-gray-700 font-medium"
        placeholder="City"
        type="text"
        bgC="secondary"
        width="full"
        [control]="city"
      ></app-input>

      <!--*** Zip Code ***-->
      <app-input
        label="Zip Code *"
        labelClass="text-gray-700 font-medium"
        placeholder="Zip Code"
        type="text"
        bgC="secondary"
        width="full"
        [control]="zip"
      ></app-input>

      <!--*** Phone ***-->
      <app-input
        label="Phone *"
        labelClass="text-gray-700 font-medium"
        placeholder="Phone"
        type="tel"
        bgC="secondary"
        width="full"
        [control]="phone"
      ></app-input>

      <!--*** Email ***-->
      <app-input
        label="Email Address *"
        labelClass="text-gray-700 font-medium"
        placeholder="Email"
        type="email"
        bgC="secondary"
        width="full"
        [control]="email"
      ></app-input>

      <!--*** Additional Information ***-->
      <label class="block text-gray-700 font-medium">Additional Information</label>
        <textarea
          id="additional-info"
          rows="4"
          formControlName="additionalInfo"
          class="w-full outline-0 rounded-md p-2 ps-2 bg-secondary"
        ></textarea>
    </form>
  </div>

  <!--***** Confirming payment *****-->
  <div class="Confirming-payment shadow p-6 rounded-lg flex-1 max-h-max">
    <h3 class="text-3xl font-bold mb-4">Payment Method</h3>
    <table class="w-full mt-8">
      <thead>
        <tr class="bg-gray-100">
          <th class="p-2 text-left">Product</th>
          <th class="p-2 text-left">Subtotal</th>
        </tr>
      </thead>
      <tbody>
        @for (item of cartItems; track item) {
        <tr>
          <td class="p-2">{{ item.name }} x {{ item.quantity }}</td>
          <td class="p-2">{{ item.price * item.quantity | currency }}</td>
        </tr>
        }
        <tr>
          <td class="p-2 font-bold">Total</td>
          <td class="p-2 text-primary font-bold">{{ subtotal | currency }}</td>
        </tr>
      </tbody>
    </table>
    <div class="payment-method mt-6">
      <!--***** Payment Options *****-->
      <div [formGroup]="checkoutForm">
        <label class="flex items-center mb-4">
          <input
          type="radio"
          name="paymentMethod"
          formControlName="paymentMethod"
          value="cod"
          class="mr-2"
        />
        Cash On Delivery
      </label>
      <label class="flex items-center mb-4">
        <input
          type="radio"
          name="paymentMethod"
          formControlName="paymentMethod"
          value="bank"
          class="mr-2"
        />
        Credit Card
        <span class="payment-icons ml-2 flex items-center gap-2">
          <img src="/icons/visa-card.svg" alt="VISA" class="w-9" />
          <img src="/icons/mastercard.svg" alt="Mastercard" class="w-9" />
          <img src="/icons/depit-card.svg" alt="Debit Card" class="w-9" />
        </span>
      </label>
      <p *ngIf="checkoutForm.get('paymentMethod')?.invalid && checkoutForm.get('paymentMethod')?.touched"
      class="text-red-500 text-sm">
     Please select a payment method.
   </p>
      </div>
      <div
        [@slideUpDown]="checkoutForm.get('paymentMethod')?.value === 'bank' ? 'in' : 'out'"
        class="overflow-hidden"
      >
        <app-payment></app-payment>
      </div>
      <div
        [@slideUpDown]="checkoutForm.get('paymentMethod')?.value === 'cod' ? 'in' : 'out'"
        class="overflow-hidden"
      >
        <p class="text-gray-500 text-sm mt-4">
          You can make your payment when you receive the order at your doorstep.
          Please keep exact change ready to avoid any inconvenience.
        </p>
      </div>
    </div>

    <p class="mt-8 text-gray-800">
      Your personal data will be used to support your experience throughout this
      website, to manage access to your account , and for other purposes
      described in our
      <a class="font-bold text-primary" [routerLink]="['/privacypolicy']">privacy policy</a>.
    </p>
    <app-button
      (click)="onSubmit()"
      class="flex justify-center items-center mx-auto mt-8"
      [type]="'semi-black-outline'"
      >Place Order</app-button
    >
  </div>
</section>

<!--**** Footer component ****-->
<app-feature-banner></app-feature-banner>