* {
  margin: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
}

.billing-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.billing-form h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
  color: var(--color-gray-dark);
}

.billing-form label {
  font-weight: bold;
  margin-top: 10px;
  color: var(--color-gray-dark);
}

.billing-form input,
.billing-form select,
.billing-form textarea {
  width: 100%;
  padding: 15px;
  margin-top: 5px;
  border: 1px solid var(--color-gray);
  border-radius: 10px;
  font-size: 16px;
}

.billing-form input:focus,
.billing-form select:focus,
.billing-form textarea:focus {
  outline: none;
  border-color: var(--color-gray-dark);
  box-shadow: var(--shadow);
}

.Confirming-payment {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;
  height: max-content;
}

.Confirming-payment h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
  color: var(--color-gray-dark);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  border-radius: 5px;
}
.total {
  color: var(--color-primary);
  font-weight: bold;
}
.payment-method p {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.452);
}

div:nth-child(2) label {
  display: block;
  margin: 10px 0;
  font-weight: bold;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.76);
}

input[type="radio"] {
  margin-right: 10px;
}
.policy {
  font-weight: bold;
  cursor: pointer;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Responsive Design */
@media (min-width: 768px) {
  section {
    flex-direction: row;
    gap: 40px;
  }
}

@media (max-width: 768px) {
  section {
    flex-direction: column;
  }
}
