<div
  class="flex flex-col items-stretch gap-[48px] px-[100px] py-[48px] border-t border-gray"
>
  <div class="flex justify-between">
    <div class="flex flex-col gap-[50px]">
      <p class="text-2xl font-bold">Funiro.</p>
      <p class="text-base font-normal text-gray">
        400 University Drive Suite 200 Coral Gables, <br />FL 33134 USA
      </p>
    </div>
    <div class="flex gap-[144px] font-medium text-base">
      <div class="flex flex-col gap-[55px]">
        <div class="text-gray">Links</div>
        <div class="flex flex-col gap-[45px]">
          <a href="">Home</a>
          <a href="">Shop</a>
          <a href="">About</a>
          <a href="">Contact</a>
        </div>
      </div>
      <div class="flex flex-col gap-[55px]">
        <div class="text-gray">Help</div>
        <div class="flex flex-col gap-[45px]">
          <a href="">Payment Options</a>
          <a href="">Returns</a>
          <a href="">Privacy Policy</a>
        </div>
      </div>
      <div class="flex flex-col gap-[55px]">
        <div class="text-gray">Newsletter</div>
        <div class="flex gap-[45px]">
          <input
            class="border-b pb-[3px] focus-visible:outline-none text-sm w-[200px]"
            type="text"
            name=""
            id=""

            placeholder="Enter your Email Address"
          />
          <button
            class="border-b pb-[3px] uppercase font-medium text-sm cursor-pointer"
          >
            Subscribe
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="h-[60px] flex flex-col gap-[35px]">
    <div class="border border-gray"></div>
    <p class="w-100 text-base font-normal">2023 funiro. All rights reserved.</p>
  </div>
</div>
