<app-header-banner bannerTitle="Comparison"></app-header-banner>
<div
  class="flex flex-col font-poppins max-w-[90rem] mx-auto content-center relative p-10"
>
  <!-- Header & Product Selection -->
  <div class="flex justify-evenly items-center content-center">
    <div class="flex flex-col gap-[1.3rem]">
      <div class="text-[1.75rem] font-medium leading-9 w-[13.9375rem]">
        Go to Product page for more <br />Products
      </div>
      <a href="#">
        <p class="text-gray">View more</p>
      </a>
      <div class="h-[0.125rem] w-[6.1875rem] bg-gray text-lg -mt-4"></div>
    </div>

    <!-- Product Cards -->
    <div class="flex gap-[1.5625rem]">
      <!-- Product 1 -->
      <div class="flex-1">
        <div
          class="bg-secondary rounded-[0.625rem] pt-[2.125rem] pl-[1.1875rem] w-[17.5rem] h-[11rem]"
        >
          <img class="w-[14.9375rem] h-[8rem]" src="images/mainsofa.png" />
        </div>
        <div class="flex flex-col gap-2">
          <h3 class="text-2xl font-medium">Asgaard Sofa</h3>
          <p class="text-lg font-medium">Rs. 250,000.00</p>
        </div>
      </div>

      <!-- Product 2 -->
      <div class="flex-1 relative">
        <div
          class="bg-secondary rounded-[0.625rem] pt-[2.125rem] pl-[1.1875rem] w-[17.5rem] h-[11rem]"
        >
          <img class="w-[14.9375rem] h-[8rem]" src="images/mainsofa.png" />
        </div>
        <div class="flex flex-col gap-2">
          <h3 class="text-2xl font-medium">Asgaard Sofa</h3>
          <p class="text-lg font-medium">Rs. 250,000.00</p>
        </div>
      </div>
    </div>

    <!-- Choose Product Dropdown -->
    <div class="flex flex-col w-[15.125rem] mt-[-8rem]">
      <div class="text-2xl font-poppins font-semibold mb-2">Add A Product</div>
      <div class="relative">
        <div class="h-[2.4375rem] bg-primary rounded-md"></div>
        <div class="absolute inset-0 flex justify-between items-center px-4">
          <span class="text-white text-sm font-semibold">Choose a Product</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="11"
            viewBox="0 0 20 11"
            fill="none"
          >
            <path
              d="M1 1L10 9.5L19 1"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Comparison table  -->

<app-feature-banner></app-feature-banner>
