<!-- Page Header -->
<app-header-banner bannerTitle="Payment Method"></app-header-banner>

<div class="flex justify-center p-10">
  <div class="p-6 bg-white shadow rounded-lg">
    <h1 class="text-3xl font-bold mb-4">Payment Method</h1>

    <h2 class="text-2xl font-semibold mt-6">Pay With Paypal</h2>
    <img src="images/Paypal.png" alt="Paypal" class="mt-2" />
    <p class="mt-2">
      When you place an order with Paypal you will be redirected to the
      PayPalpayment page, where you can confirm your payment by logging in with
      yourPayPal username and password. You may still check out even without a
      PayPal account. To do so, pleaseclick on "Pay with Debit/Credit Card" and
      you’ll be redirected to a securepage where you can enter your credit card
      information or complete yourpayment safely via PayPal.
    </p>

    <h2 class="text-2xl font-semibold mt-6">Pay With Credit/Debit Card</h2>
    <div class="mt-2 flex flex-row gap-4">
      <img src="images/american.png" alt="american" class="mt-2" />
      <img src="images/maestro.png" alt="maestro" class="mt-2" />
      <img src="images/mastercard.png" alt="mastercard" class="mt-2" />
      <img src="images/visa.webp" alt="visa" class="mt-2" />
    </div>
    <p class="mt-2">
      The available credit card options are listed above. The credit card
      companieslisted above are the most commonly used credit cards on this
      website. Donot worry if your credit card company is not listed, we
      encourage you togo ahead and make the purchase. Please note that SHEIN
      does not collect your credit/debit card numberor personal information when
      you make a payment. For questions regardingyour transactions on our site,
      please consult your card-issuing bank forinformation.
    </p>

    <h2 class="text-2xl font-semibold mt-6">Pay With Online Bank Transfer</h2>
    <img src="images/Bank.webp" alt="Bank" class="mt-2" />
    <p class="mt-2">
      FPX is an online banking payment option for Thailand and Malaysia
      customers,available banks include some local banks. With FPX, you will be
      redirectedto your bank's payment infrastructure during the payment
      process. You canpay via FPX if you use the online payment system for
      online purchases.This is a very safe way to pay online. Please note that
      "Online Banking" only support refund to your SHEIN Walletin Thailand.
    </p>

    <h2 class="text-2xl font-semibold mt-6">Payment With E-Wallet</h2>
    <div class="mt-2 flex flex-row gap-4">
      <img src="images/grabpay.webp" alt="grabpay" class="mt-2" />
      <img src="images/naver.webp" alt="naver" class="mt-2" />
      <img src="images/pay.webp" alt="pay" class="mt-2" />
      <img src="images/toss.webp" alt="toss" class="mt-2" />
    </div>
    <p class="mt-2">
      GrabPay is a digital wallet payment option for Malaysia, and
      Singaporecustomers. You will make payments within the app using a GrabPay
      walletthat link to your credit or debit card. To pay with GrabPay, you
      will be redirected to the GrabPay login pagefrom your website or app. The
      shopper authenticates using your phone numberand a one-time password that
      you received from Grab on your phone, andthen confirms the payment.
      Kakaopay is a digital wallet payment option for Korean customers. Youcan
      pay within the app using the Kakaopay wallet linked to your creditor debit
      card. To pay with Kakaopay, you will be redirected to the Kakaopay payment
      pagefrom your website or app. Use your mobile phone to scan the QR code
      tolog in to the APP to make payment and then you will be redirected backto
      the SHEIN page after confirming the payment. Naverpay is a digital wallet
      payment option for Korean customers. Youcan pay by NAVER Pay Point, money
      or bank account payment. To pay with Naverpay, you will be redirected to
      the Naverpay payment pagefrom your website or app. Use your mobile phone
      to scan the QR code tolog in to the APP to make payment and then you will
      be redirected backto the SHEIN page after confirming the payment. Tosspay
      is a digital wallet payment option for Korean customers. You canpay by
      Tosspay money or bank account payment. To pay with Tosspay, you will be
      redirected to the Tosspay payment pagefrom your website or app. Use your
      mobile phone to scan the QR code tolog in to the APP to make payment and
      then you will be redirected backto the SHEIN page after confirming the
      payment.
    </p>
  </div>
</div>

<!-- Page banner -->

<app-feature-banner></app-feature-banner>
