<div class="space-y-4">
    <div class="w-20 h-20 bg-[#f9f1e7] rounded-lg flex items-center justify-center">
        <img src="images/products/Cloud sofa three seater + ottoman_1 1.png" />
    </div>
    <div class="w-20 h-20 bg-[#f9f1e7] rounded-lg flex items-center justify-center">
        <img src="images/products/Cloud sofa three seater + ottoman_2 1.png" />
    </div>
    <div class="w-20 h-20  bg-[#f9f1e7] rounded-lg flex items-center justify-center">
        <img src="images/products/Outdoor sofa set 2.png" />
    </div>
    <div class="w-20 h-20 bg-[#f9f1e7] rounded-lg flex items-center justify-center">
        <img class="w-18 h-10" src="images/products/Cloud sofa three seater + ottoman_2 1.png" />
    </div>
</div>