<div class="space-y-4">
  <div
    class="w-20 h-20 bg-secondary rounded-lg flex items-center justify-center"
  >
    <img src="images/products/1 (1).png" />
  </div>
  <div
    class="w-20 h-20 bg-secondary rounded-lg flex items-center justify-center"
  >
    <img src="images/products/1 (2).png" />
  </div>
  <div
    class="w-20 h-20 bg-secondary rounded-lg flex items-center justify-center"
  >
    <img src="images/products/Outdoor sofa set 2.png" />
  </div>
  <div
    class="w-20 h-20 bg-secondary rounded-lg flex items-center justify-center"
  >
    <img
      class="w-18 h-10"
      src="images/products/1 (2).png"
    />
  </div>
</div>
