<div class="flex flex-col gap-4">
  <h2 class="text-5xl font-bold font-poppins">Sign In</h2>
  <form [formGroup]="loginForm" class="flex flex-col gap-4">
    <app-input
      placeholder="Email"
      label="Email"
      type="email"
      bgC="secondary"
      width="full"
      [control]="loginForm.controls['email']"
    ></app-input>

    <div class="relative">
      <app-input
        placeholder="Enter your password"
        label="Password"
        type="password"
        bgC="secondary"
        width="full"
        [control]="loginForm.controls['password']"
      ></app-input>

      <a
        [routerLink]="['/auth/forgot-password']"
        class="text-primary text-sm cursor-pointer hover:underline absolute top-0 right-0"
      >
        Forgot password?
      </a>
    </div>

    <div class="flex flex-col gap-2 w-full mt-2">
      <div class="flex items-center gap-2">
        <input
          type="checkbox"
          id="agree"
          formControlName="rememberme"
          class="w-4 h-4"
        />
        <label for="agree" class="text-sm text-gray-600">Remember me</label>
      </div>
    </div>

    <div
      class="text-red-light text-center"
      [@slideUpDown]="errorMessage ? 'in' : 'out'"
    >
      {{ errorMessage }}
    </div>

    <div class="flex justify-center">
      <app-button (click)="onSubmit()">Sign In</app-button>
    </div>

    <div class="text-center mt-2">
      <span class="text-gray">Don't have an account?</span>
      <span>
        <a
          class="text-primary font-bold opacity-100"
          [routerLink]="['/auth/signup']"
        >
          Sign Up</a
        >
      </span>
    </div>

    <div class="flex justify-center items-center w-1/2 self-center">
      <div class="bg-gray-light h-0.5 flex-1"></div>
      <span class="px-4">or</span>
      <div class="bg-gray-light h-0.5 flex-1"></div>
    </div>
    <div class="flex justify-center">
      <button
        (click)="onGoogleSignIn()"
        class="flex items-center cursor-pointer justify-center gap-2 min-w-[100px] px-4 py-2 border border-gray-300 rounded-lg shadow-sm bg-white hover:bg-secondary transition duration-200"
      >
        <img
          src="https://www.svgrepo.com/show/475656/google-color.svg"
          alt="Google Logo"
          class="w-5 h-5"
        />
        <span class="text-gray-700 font-medium">Continue with Google</span>
      </button>
    </div>
  </form>
</div>
