<div class="flex flex-col gap-4">
  <h2 class="font-poppins text-5xl font-bold">Sign In</h2>
  <form [formGroup]="loginForm" class="flex flex-col gap-4">
    <app-input
      placeholder="Email"
      label="Email"
      type="email"
      bgC="secondary"
      width="full"
      [control]="loginForm.controls['email']"
    ></app-input>

    <div class="relative">
      <app-input
        placeholder="Enter your password"
        label="Password"
        type="password"
        bgC="secondary"
        width="full"
        [control]="loginForm.controls['password']"
      ></app-input>

      <a
        [routerLink]="['/auth/forgot-password']"
        class="absolute top-0 right-0 cursor-pointer text-sm text-primary hover:underline"
      >
        Forgot password?
      </a>
    </div>

    <div class="mt-2 flex w-full flex-col gap-2">
      <div class="flex items-center gap-2">
        <input
          type="checkbox"
          id="agree"
          formControlName="rememberme"
          class="h-4 w-4"
        />
        <label for="agree" class="text-sm text-gray-600">Remember me</label>
      </div>
    </div>

    <div
      class="text-center text-red-light"
      [@slideUpDown]="errorMessage ? 'in' : 'out'"
    >
      {{ errorMessage }}
    </div>

    <div class="flex justify-center">
      <app-button (click)="onSubmit()">Sign In</app-button>
    </div>

    <div class="mt-2 text-center">
      <span class="text-gray">Don't have an account?</span>
      <span>
        <a
          class="font-bold text-primary opacity-100"
          [routerLink]="['/auth/signup']"
        >
          Sign Up</a
        >
      </span>
    </div>

    <div class="flex w-1/2 items-center justify-center self-center">
      <div class="h-0.5 flex-1 bg-gray-light"></div>
      <span class="px-4">or</span>
      <div class="h-0.5 flex-1 bg-gray-light"></div>
    </div>
    <div class="flex justify-center">
      <button
        (click)="onGoogleSignIn()"
        class="flex min-w-[100px] cursor-pointer items-center justify-center gap-2 rounded-lg border border-gray-300 bg-white px-4 py-2 shadow-sm transition duration-200 hover:bg-secondary"
      >
        <img
          src="https://www.svgrepo.com/show/475656/google-color.svg"
          alt="Google Logo"
          class="h-5 w-5"
        />
        <span class="font-medium text-gray-700">Continue with Google</span>
      </button>
    </div>
  </form>
</div>
