<div class="flex ml-40 mr-40 justify-between">

<div *ngIf="post" class="container mx-auto p-4">
  <img [src]="post.image" alt="{{ post.title }}" class="w-full h-64 object-fit: scale-down rounded-lg">
  <div class="flex items-center gap-4 text-gray-500 text-sm mt-2">
    <p class="flex items-center">
      <img src="/images/profile.svg" alt="profile" class="w-4 h-4 mr-1">
      {{ post.users }}
    </p>
    <p class="flex items-center">
      <img src="/images/calender.svg" alt="date" class="w-4 h-4 mr-1">
      {{ post.date }}
    </p>
    <p class="flex items-center">
      <img src="/images/tag-023bd938.svg" alt="category" class="w-4 h-4 mr-1">
      {{ post.category }}
    </p>
  </div>

  <h2 class="text-xl font-semibold mt-4 w-180">{{ post.title }}</h2>
  <p class="text-gray-700 text-sm mt-2 w-180">{{ post.content }}</p>
</div>


<div class="grid grid-cols-1">
  <h2 class="text-lg font-semibold">Related Posts</h2>
  <div *ngFor="let post of relatedPosts">
    <button
      (click)="navigateToPost(post.id)"
      class="flex items-center gap-4 px-4 py-2 rounded-lg  text-black"
    >
    <img [src]="post.image" alt="{{ post.title }}" class="w-30 h-28 object-fit: scale-down rounded">
    <div class="grid grid-cols-1">
    <h4>{{ post.title }}</h4>
    <p class="text-gray-500 text-sm flex  mt-1">
      {{ post.date }}
    </p>
  </div>
    </button>
  </div>
</div>
</div>
