<app-header-banner
  bannerTitle="{{ blog?.title }}"
  [bannerPath]="[
    { title: 'blogs', path: '/blogs' },
    { title: blog?.title || '', path: '/blog/' + blog?._id }
  ]"
></app-header-banner>

<section class="flex flex-col lg:flex-row gap-8 mx-auto max-w-[1240px] p-10">
  <!-- Show skeleton loader while the blog is loading -->
  <div *ngIf="loading" class="w-full lg:w-3xl">
    <app-blog-skeleton></app-blog-skeleton>
  </div>

  <!-- Actual Blog Content -->
  <div *ngIf="!loading && blog" class="w-full lg:w-3xl">
    <img [src]="blog.img" [alt]="blog.title" class="w-full rounded-lg" />

    <div class="flex items-center gap-4 text-gray text-xs md:text-sm mt-2">
      <p class="flex items-center">
        <img src="/icons/profile.svg" alt="Profile" class="w-4 h-4 mr-1" />
        {{ blog.user }}
      </p>
      <p class="flex items-center">
        <img src="/icons/calender.svg" alt="Date" class="w-4 h-4" />
        {{ blog.date | date }}
      </p>
      <p class="flex items-center">
        <img src="/icons/tag.svg" alt="Category" class="w-4 h-4 mr-1" />
        {{ blog.categories.join(", ") }}
      </p>
    </div>

    <h2 class="text-lg md:text-xl font-semibold mt-4">{{ blog.title }}</h2>
    <p class="text-gray-dark text-sm md:text-base mt-2 w-full">
      {{ blog.content }}
    </p>
  </div>

  <!-- Related Blogs Section -->
  <div class="flex flex-col gap-2">
    <h1 class="text-black font-semibold text-[25px] p-2">Related Blogs</h1>

    <!-- Show skeleton loader for related blogs -->
    <div *ngIf="loadingRelatedBlogs" class="flex flex-col gap-2">
      <div *ngFor="let _ of [1, 2, 3]">
        <app-related-blog-skeleton></app-related-blog-skeleton>
      </div>
    </div>

    <!-- Actual Related Blogs -->
    <div
      *ngIf="relatedBlogs.length > 0 && !loadingRelatedBlogs"
      class="flex flex-col gap-2"
    >
      <div
        *ngFor="let relatedBlog of relatedBlogs"
        class="flex items-center gap-4 px-4 py-2 rounded-lg text-black cursor-pointer border border-gray-medium hover:shadow duration-200 ease"
        [routerLink]="['/blog', relatedBlog._id]"
      >
        <img
          [src]="relatedBlog.img"
          [alt]="relatedBlog.title"
          class="w-30 h-28 object-contain rounded"
        />
        <div class="flex flex-col items-start gap-1">
          <h5 class="font-medium text-base text-start">
            {{ relatedBlog.title }}
          </h5>
          <p class="text-gray text-sm">{{ relatedBlog.date | date }}</p>
        </div>
      </div>
    </div>

    <!-- No related blogs found message -->
    <div *ngIf="relatedBlogs.length === 0 && !loadingRelatedBlogs">
      <p class="text-gray-500 p-2">No related blogs found.</p>
    </div>
  </div>
</section>

<app-feature-banner></app-feature-banner>
