<app-header-banner bannerTitle="Blog"></app-header-banner>

<div class="flex p-4 md:p-30 flex-col md:flex-row justify-center items-start gap-10"
>

<div *ngIf="post" class="container mx-auto p-4 max-w-3xl">
  <img [src]="post.image" alt="{{ post.title }}" class="w-180 h-130 object-fit: scale-down rounded-lg">
  <div class="flex items-center gap-2 md:gap-4 text-gray-500 text-xs md:text-sm mt-2 flex-nowrap overflow-hidden">
    <p class="flex items-center">
      <img src="/icons/profile.svg" alt="profile" class="w-4 h-4 mr-1 shrink-0">
      {{ post.users }}
    </p>
    <p class="flex items-center">
      <img src="/icons/calender.svg" alt="date" class="w-4 h-4 mr-1 shrink-0">
      {{ post.date }}
    </p>
    <p class="flex items-center">
      <img src="/icons/tag.svg" alt="category" class="w-4 h-4 mr-1 shrink-0">
      {{ post.category }}
    </p>
  </div>

  <h2 class="text-lg md:text-xl font-semibold mt-4 max-w-2xl">{{ post.title }}</h2>
  <p class="text-gray-700 text-sm md:text-base mt-2 max-w-2xl leading-relaxedmax-w-2xl leading-relaxed">{{ post.content }}</p>
</div>


<div class="grid grid-cols-1">
  <h1 class="text-black font-semibold text-[25px] p-2">Related Posts</h1>
  <div *ngFor="let post of relatedPosts">
    <button
      class="flex items-center gap-4 px-4 py-2 rounded-lg p-2 text-black"
      [routerLink]="['/blog', post.id]"
    >
    <img [src]="post.image" alt="{{ post.title }}" class="w-30 h-28 object-fit: scale-down rounded">
    <div class="flex flex-col items-start">
      <h5 class="font-medium text-base">{{ post.title }}</h5>
      <p class="text-gray-500 text-sm mt-1">{{ post.date }}</p>
    </div>


    </button>
  </div>
</div>
</div>

<app-feature-banner></app-feature-banner>
