@let favoritesLength = (favoritesLength$ | async) ?? 0;
@if (favoritesLength > 0) {
  <div
    *ngFor="let item of favorites$ | async"
    class="flex flex-col justify-between gap-2 border-b py-4 sm:flex-row sm:items-center"
  >
    <div class="flex flex-1 justify-between sm:items-center">
      <div class="flex flex-1 flex-col gap-3 self-start sm:flex-row">
        <img
          [routerLink]="['/product', item.id]"
          [src]="item.image"
          alt="{{ item.name }}"
          class="h-20 w-20 cursor-pointer rounded-md bg-secondary object-cover"
        />
        <div class="flex flex-1 flex-col items-start justify-start gap-2">
          <p class="text-lg">
            {{ item.name }}
          </p>
          <p class="max-w-[90%] text-sm text-gray">
            {{ item.subTitle }}
          </p>
        </div>
      </div>
      <app-button [routerLink]="['/product', item.id]" btnWidth="fit"
        >View</app-button
      >
    </div>
    <div class="flex justify-end gap-2">
      <app-button
        type="primary-outline"
        btnWidth="fit"
        (click)="deleteFavorite(item.id)"
        >Remove</app-button
      >
    </div>
  </div>
} @else {
  <div
    class="flex h-full flex-1 flex-col items-center justify-center gap-4 py-10 text-center"
  >
    <img src="/icons/heart-broken.svg" alt="" class="w-[80px]" />
    <p class="text-lg font-semibold text-gray">Your don't have any favorites</p>
    <p class="text-sm text-gray">
      You can add products to your favorites by clicking the heart icon on
      product.
    </p>
    <app-button btnWidth="fit" [routerLink]="['/shop']"
      >Discover products</app-button
    >
  </div>
}
