@let favoritesLength =(favoritesLength$|async)??0; @if(favoritesLength > 0){
<div
  *ngFor="let item of favorites$ | async"
  class="flex flex-col sm:flex-row justify-between sm:items-center gap-2 py-4 border-b"
>
  <div class="flex flex-1 justify-between sm:items-center">
    <div class="flex flex-col sm:flex-row gap-3 flex-1 self-start">
      <img
        [routerLink]="['/product', item.id]"
        [src]="item.image"
        alt="{{ item.name }}"
        class="w-20 h-20 object-cover rounded-md bg-secondary cursor-pointer"
      />
      <div class="flex flex-1 flex-col items-start justify-start gap-2">
        <p class="text-lg">
          {{ item.name }}
        </p>
        <p class="text-gray text-sm max-w-[90%]">
          {{ item.subTitle }}
        </p>
      </div>
    </div>
    <app-button [routerLink]="['/product', item.id]" btnWidth="fit"
      >View</app-button
    >
  </div>
  <div class="flex gap-2 justify-end">
    <app-button
      type="primary-outline"
      btnWidth="fit"
      (click)="deleteFavorite(item.id)"
      >Remove</app-button
    >
  </div>
</div>
} @else{
<div
  class="h-full flex-1 flex flex-col justify-center items-center gap-4 text-center py-10"
>
  <img src="/icons/heart-broken.svg" alt="" class="w-[80px]" />
  <p class="text-lg text-gray font-semibold">Your don't have any favorites</p>
  <p class="text-sm text-gray">
    You can add products to your favorites by clicking the heart icon on
    product.
  </p>
  <app-button btnWidth="fit" [routerLink]="['/shop']"
    >Discover products</app-button
  >
</div>
}
