<app-header-banner
  bannerTitle="Cart"
  [bannerPath]="[{ title: 'cart', path: '/cart' }]"
></app-header-banner>
<app-stepper></app-stepper>
<div class="flex flex-col justify-between gap-6 p-5 sm:p-10 lg:flex-row">
  <div class="h-max w-full rounded-lg bg-white p-6 shadow lg:w-2/3">
    <div
      class="grid grid-cols-4 rounded-t-md bg-secondary p-4 text-center text-sm font-semibold text-gray-dark md:grid-cols-5 md:text-base"
    >
      <span>Product</span>
      <span>Price</span>
      <span>Quantity</span>
      <span class="hidden md:block">Subtotal</span>
      <span>Action</span>
    </div>
    @if (cartLength > 0) {
      <div
        *ngFor="let item of cart"
        class="grid grid-cols-4 items-center border-b py-4 text-center md:grid-cols-5"
      >
        <div class="flex flex-col items-center">
          <img
            [src]="item.image"
            alt="{{ item.name }}"
            class="h-14 w-14 rounded-md bg-secondary object-cover shadow sm:h-16 sm:w-16"
          />
          <p class="mt-2 text-xs text-gray-dark sm:text-sm">{{ item.name }}</p>
        </div>

        <p class="text-xs text-gray sm:text-sm lg:text-base">
          {{ item.price | currency }}
        </p>

        <div class="flex items-center justify-center gap-1 sm:gap-2">
          <button
            class="h-6 w-6 rounded bg-gray-light text-xs hover:bg-gray-medium sm:h-8 sm:w-8 sm:text-base"
            (click)="decreaseQuantity(item.id)"
          >
            -
          </button>

          <p class="w-6 text-center text-xs font-semibold sm:w-8 sm:text-sm">
            {{ item.quantity }}
          </p>

          <button
            class="h-6 w-6 rounded bg-gray-light text-xs hover:bg-gray-medium sm:h-8 sm:w-8 sm:text-base"
            (click)="increaseQuantity(item)"
          >
            +
          </button>
        </div>

        <p
          class="hidden text-sm font-semibold text-primary md:block lg:text-base"
        >
          {{ item.price * item.quantity | currency }}
        </p>

        <button
          (click)="removeItem(item.id)"
          class="text-primary duration-300 ease-in-out hover:text-red-light"
        >
          <i class="fas fa-trash-alt text-sm sm:text-xl"></i>
        </button>
      </div>
    } @else {
      <div class="py-10 text-center">
        <p class="text-lg font-semibold text-gray">Your cart is empty</p>
      </div>
    }
  </div>

  <div class="w-full lg:w-1/3">
    <app-cart-totals [cartItems]="cart"></app-cart-totals>
  </div>
</div>

<app-feature-banner></app-feature-banner>
