<div
  class="flex h-screen"
  [ngClass]="{
    'flex-row-reverse': isSignUp$ | async,
    'flex-row': !(isSignUp$ | async),
  }"
>
  <div
    class="flex flex-1 flex-col items-center gap-y-5 self-center overflow-y-scroll py-5 lg:self-stretch"
  >
    <div
      class="flex w-[90%] flex-1 flex-col justify-center self-center lg:w-[70%]"
    >
      <div class="flex flex-col gap-4 rounded-xl p-4 shadow md:p-10">
        <!-- Logo -->
        <div
          class="flex w-full cursor-pointer items-center gap-2"
          [routerLink]="['/']"
        >
          <img src="images/logo.png" alt="Logo" class="w-[30px] lg:w-[40px]" />
          <div class="font-montserrat text-2xl font-bold">Furniro</div>
        </div>

        <!-- Form Content -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <div
    class="hidden w-[100%] items-end justify-center bg-secondary py-4 lg:flex lg:w-[600px]"
  >
    <img
      src="icons/registration.svg"
      alt=""
      class="w-[90%] {{ (isSignUp$ | async) ? 'scale-x-[-1]' : '' }}"
    />
  </div>
</div>
