<div
  class="flex h-screen"
  [ngClass]="{
    'flex-row-reverse': isSignUp$ | async,
    'flex-row': !(isSignUp$ | async)
  }"
>
  <div
    class="flex-1 flex flex-col items-center overflow-y-scroll py-5 gap-y-5 self-center lg:self-stretch"
  >
    <div
      class="flex-1 flex flex-col justify-center w-[90%] lg:w-[70%] self-center"
    >
      <div class="flex flex-col shadow gap-4 p-4 md:p-10 rounded-xl">
        <!-- Logo -->
        <div class="flex items-center gap-2 w-full" [routerLink]="['/']">
          <img src="images/logo.png" alt="Logo" class="w-[30px] lg:w-[40px]" />
          <div class="font-montserrat text-2xl font-bold">Furniro</div>
        </div>

        <!-- Form Content -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <div
    class="bg-secondary w-[100%] lg:w-[600px] hidden lg:flex justify-center items-end py-4"
  >
    <img
      src="icons/registration.svg"
      alt=""
      class="w-[90%] {{ (isSignUp$ | async) ? 'scale-x-[-1]' : '' }}"
    />
  </div>
</div>
