<div
  class="min-h-screen flex-col items-center justify-center bg-gray-100 px-4 py-12 sm:px-6 lg:px-8"
>
  <div class="mb-10">
    <app-stepper></app-stepper>
  </div>
  <div class="flex justify-center">
    <div class="w-full max-w-md rounded-lg bg-white p-8 shadow-md">
      <div class="mb-6 flex items-center justify-center">
        <svg
          class="h-25 w-25 text-primary"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="3"
            d="M5 13l4 4L19 7"
          />
        </svg>
      </div>
      <h2 class="mb-4 text-center text-2xl font-bold text-gray-dark">
        Order Successful!
      </h2>
      <p class="mb-6 text-center text-gray-600">
        Thank you for your order. It has been processed and will be shipped
        soon.
      </p>

      <div class="text-center">
        <app-button
          type="primary-fill"
          routerLink="/"
          btnWidth="full"
          btnPadding="15px"
        >
          Continue Shopping
        </app-button>
      </div>
    </div>
  </div>
</div>
