@let products = (products$ | async) ?? [];

<app-header-banner
  bannerTitle="Shop"
  [bannerPath]="[{ title: 'shop', path: '/shop' }]"
></app-header-banner>

<div class="bg-secondary px-1 text-sm sm:text-base md:px-5">
  <div
    class="m-auto flex max-w-[1240px] items-center justify-between gap-2 p-2 sm:p-4 lg:p-5"
  >
    <!-- Left Section: Filter & Results Info -->
    <div class="flex items-center gap-4">
      @if (!isLgScreen()) {
        <div
          class="flex cursor-pointer items-center gap-2"
          (click)="toggleShowFilter()"
        >
          <img src="icons/filter.svg" alt="Filter Icon" />
          <p>Filter</p>
        </div>
        <div
          class="hidden self-stretch border border-gray-medium sm:block"
        ></div>
      }
      <p class="hidden sm:block">
        {{ getDisplayedResultsRange() }}
      </p>
    </div>

    <!-- Right Section: Sorting Dropdown -->
    <div class="flex items-center gap-2">
      <p>Sort By</p>
      <div class="relative" #sortMenu>
        <button
          class="flex h-10 w-full min-w-40 cursor-pointer items-center rounded-md border border-gray-medium bg-white px-5 focus:outline-none md:h-14 md:min-w-48"
          (click)="toggleDropdown(true)"
        >
          <span
            class="overflow-hidden overflow-ellipsis whitespace-nowrap text-gray-dark"
            >{{ selectedSortValue$ | async }}</span
          >
        </button>
        @if (showSortMenu && sortMenuItems.length > 0) {
          <app-dropdown
            [items]="sortMenuItems"
            (selectedValueChange)="onSortChange($event)"
          ></app-dropdown>
        }
      </div>
    </div>
  </div>
</div>

<!-- Content -->
<div #productsContainer class="relative flex gap-5 p-5 sm:p-10">
  <!-- Overlay -->
  @if (showFilters) {
    <div
      class="fixed top-0 left-0 z-[999] h-full w-full bg-black-transparent lg:absolute lg:hidden"
      (click)="toggleShowFilter(false)"
    ></div>
    <div
      class="lg:max-w-auto fixed top-0 left-0 z-[1000] flex h-full w-full max-w-[300px] flex-col gap-[25px] border-r border-gray-medium bg-white p-[25px] lg:relative lg:z-0 lg:h-auto lg:min-w-[300px] lg:pt-0 lg:pl-0"
      [@slideInOut]="showFilters ? 'in' : 'out'"
      [@.disabled]="isLgScreen()"
    >
      <app-search (onSelect)="goToProduct($event)"></app-search>
      <app-filter-option title="Category">
        <div class="flex flex-col gap-2">
          <div
            *ngFor="let category of categories"
            class="flex items-center gap-2"
          >
            <input
              type="checkbox"
              [id]="'category' + category.name"
              [name]="'category' + category.name"
              [checked]="selectedCategories.includes(category.id)"
              (change)="onCategoryChange(category, $event)"
              class="h-[1.2em] w-[1.2em]"
            />
            <label [for]="'category' + category.name">{{
              category.name | titlecase
            }}</label>
          </div>
        </div>
      </app-filter-option>

      <app-filter-option title="Price Range">
        <mat-slider [min]="priceMin" [max]="priceMax">
          <input
            matSliderStartThumb
            [value]="minPrice"
            max=""
            (change)="onPriceChange($event, true)"
          />
          <input
            matSliderEndThumb
            [value]="maxPrice"
            (change)="onPriceChange($event, false)"
          />
        </mat-slider>

        <div class="flex justify-between">
          <span>{{ minPrice }}</span>
          <span>{{ maxPrice }}</span>
        </div>
      </app-filter-option>
    </div>
  }

  <!-- Product Grid -->
  <div
    class="col-span-12 flex w-full flex-col justify-center gap-5"
    [ngClass]="{ 'lg:col-span-9': showFilters }"
  >
    @if (!loading && products.length > 0) {
      <div
        class="grid h-full w-full grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3"
        [ngClass]="{
          'lg:grid-cols-3': showFilters,
          'lg:grid-cols-4': !showFilters,
        }"
      >
        @for (item of (products$ | async) ?? []; track item?.id) {
          <app-product-item [product]="item"></app-product-item>
        }
      </div>

      <app-pagination
        [(currentPage)]="currentPage"
        [pagesCount]="pagesCount"
        [container]="this.productsContainer"
        (currentPageChange)="fetchProducts()"
      ></app-pagination>
    } @else if (loading) {
      <div
        class="grid h-full w-full grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3"
        [ngClass]="{
          'lg:grid-cols-3': showFilters,
          'lg:grid-cols-4': !showFilters,
        }"
      >
        <div *ngFor="let item of skeletonArr">
          <app-product-item-skeleton></app-product-item-skeleton>
        </div>
      </div>
      <div class="flex justify-center gap-5 py-3">
        <div *ngFor="let item of [1, 2, 3]">
          <ngx-skeleton-loader [theme]="{ 'width.px': 60, 'height.px': 45 }" />
        </div>
      </div>
    } @else {
      <div
        class="flex h-full w-full items-center justify-center text-center text-gray"
      >
        No products matches this filter.
      </div>
    }
  </div>
</div>

<app-feature-banner></app-feature-banner>
