<div
  class="flex flex-col items-stretch gap-[48px] px-[50px] lg:px-[100px] py-[48px] border-t border-gray bg-black text-white"
>
  <div class="flex flex-col lg:flex-row justify-between gap-[20px]">
    <div class="flex flex-col">
      <p class="text-2xl font-bold">Funiro.</p>
      <p class="text-base font-normal text-gray">
        15 Tahrir Square, Downtown, Cairo, Egypt
      </p>
    </div>

    <div
      class="flex flex-col flex-1 lg:flex-row justify-evenly font-medium text-base gap-[30px]"
    >
      <div class="flex flex-col gap-[20px]">
        <div class="text-gray">Links</div>
        <div class="flex lg:flex-col gap-[20px]">
          <a routerLink="/home">Home</a>
          <a routerLink="/shop">Shop</a>
          <a routerLink="/blogs">Blogs</a>
          <a routerLink="/contact">Contact</a>
        </div>
      </div>
      <div class="flex flex-col gap-[20px]">
        <div class="text-gray">Help</div>
        <div class="flex lg:flex-col gap-[20px]">
          <a routerLink="/paymentoptions">Payment Options</a>
          <a routerLink="/returns">Returns Policy</a>
          <a routerLink="/privacypolicy">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>

  <!-- copyright -->
  <div class="h-[60px] flex flex-col gap-[35px]">
    <div class="border border-gray"></div>
    <p class="text-base font-normal">
      &copy; 2025 funiro. All rights reserved.
    </p>
  </div>
</div>
