<div
  class="flex flex-col items-stretch gap-[48px] border-t border-gray bg-black px-[50px] py-[48px] text-white lg:px-[100px]"
>
  <div class="flex flex-col justify-between gap-[20px] lg:flex-row">
    <div class="flex flex-col">
      <p class="text-2xl font-bold">Funiro.</p>
      <p class="text-base font-normal text-gray">
        15 Tahrir Square, Downtown, Cairo, Egypt
      </p>
    </div>

    <div
      class="flex flex-1 flex-col justify-evenly gap-[30px] text-base font-medium lg:flex-row"
    >
      <div class="flex flex-col gap-[20px]">
        <div class="text-gray">Links</div>
        <div class="flex gap-[20px] lg:flex-col">
          <a routerLink="/home">Home</a>
          <a routerLink="/shop">Shop</a>
          <a routerLink="/blogs">Blogs</a>
          <a routerLink="/contact">Contact</a>
        </div>
      </div>
      <div class="flex flex-col gap-[20px]">
        <div class="text-gray">Help</div>
        <div class="flex gap-[20px] lg:flex-col">
          <a routerLink="/paymentoptions">Payment Options</a>
          <a routerLink="/returns">Returns Policy</a>
          <a routerLink="/privacypolicy">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>

  <!-- copyright -->
  <div class="flex h-[60px] flex-col gap-[35px]">
    <div class="border border-gray"></div>
    <p class="text-base font-normal">
      &copy; 2025 funiro. All rights reserved.
    </p>
  </div>
</div>
